Repository vamseeachanta/workspace-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: baseline-validation, baseline-quick-check, baseline-auto-fix, performance-regression-check, docs-validation

.pre-commit-config.yaml:

# Pre-commit hooks for baseline testing validation
# See https://pre-commit.com for more information

repos:
  # Local hooks for baseline testing
  - repo: local
    hooks:
      # Baseline validation hook
      - id: baseline-validation
        name: Baseline Validation
        entry: scripts/hooks/baseline-validation.sh
        language: script
        stages: [commit, push]
        files: \.(js|ts|jsx|tsx|py|json|md)$
        pass_filenames: true
        verbose: true

      # Quick baseline check
      - id: baseline-quick-check
        name: Quick Baseline Check
        entry: scripts/hooks/baseline-quick-check.sh
        language: script
        stages: [commit]
        files: \.(js|ts|jsx|tsx|py)$
        pass_filenames: true

      # Baseline auto-fix
      - id: baseline-auto-fix
        name: Baseline Auto-fix
        entry: scripts/hooks/baseline-auto-fix.sh
        language: script
        stages: [commit]
        files: \.(js|ts|jsx|tsx)$
        pass_filenames: true

  # Standard code quality hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        stages: [commit]
      - id: end-of-file-fixer
        stages: [commit]
      - id: check-yaml
        stages: [commit]
      - id: check-json
        stages: [commit]
      - id: check-merge-conflict
        stages: [commit]
      - id: check-added-large-files
        args: ['--maxkb=1000']
        stages: [commit]

  # JavaScript/TypeScript linting
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.56.0
    hooks:
      - id: eslint
        files: \.[jt]sx?$
        types: [file]
        stages: [commit]
        additional_dependencies:
          - eslint@8.56.0
          - '@typescript-eslint/parser@6.17.0'
          - '@typescript-eslint/eslint-plugin@6.17.0'

  # Python hooks
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3
        stages: [commit]

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        stages: [commit]

  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        stages: [commit]

  # Performance testing hook
  - repo: local
    hooks:
      - id: performance-regression-check
        name: Performance Regression Check
        entry: scripts/hooks/performance-check.sh
        language: script
        stages: [push]
        files: \.(js|ts|jsx|tsx|py)$
        pass_filenames: false

  # Documentation validation
  - repo: local
    hooks:
      - id: docs-validation
        name: Documentation Validation
        entry: scripts/hooks/docs-validation.sh
        language: script
        stages: [commit]
        files: \.md$
        pass_filenames: true

# Global configuration
default_stages: [commit]
fail_fast: false
default_language_version:
  python: python3.11
  node: 18.19.0

# CI-specific configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: [baseline-validation, performance-regression-check]
  submodules: false

feat: Add skills to repo for cross-machine transfer
  .claude/skills/context-management/SKILL.md
  .claude/skills/guidelines/ai-agent-guidelines/SKILL.md
  .claude/skills/guidelines/file-org-standards/SKILL.md
  .claude/skills/guidelines/html-reporting-standards/SKILL.md
  .claude/skills/guidelines/logging-standards/SKILL.md
  .claude/skills/guidelines/testing-standards/SKILL.md
  .claude/skills/optimization/model-selection/SKILL.md
  .claude/skills/optimization/usage-optimization/SKILL.md
  .claude/skills/product/product-roadmap/SKILL.md
  .claude/skills/workflows/codex-review/SKILL.md
  .claude/skills/workflows/cross-review-policy/SKILL.md
  .claude/skills/workflows/dev-workflow/SKILL.md
  .claude/skills/workflows/gemini-review/SKILL.md
  .claude/skills/workspace-hub/ai-questioning-pattern/SKILL.md
  .claude/skills/workspace-hub/compliance-propagation-automator/SKILL.md
  .claude/skills/workspace-hub/development-workflow-orchestrator/SKILL.md
  .claude/skills/workspace-hub/file-organization-assistant/SKILL.md
  .claude/skills/workspace-hub/html-reporting-enforcer/SKILL.md
  .claude/skills/workspace-hub/knowledge-base-system/SKILL.md
  .claude/skills/workspace-hub/repository-health-analyzer/SKILL.md
  .gitignore
Due: baseline-validation, docs-validation

feat: Add 4 core agents and fix gitignore pattern
  .claude/agent-library/core/context-fetcher.md
  .claude/agent-library/core/file-creator.md
  .claude/agent-library/core/git-workflow.md
  .claude/agent-library/core/test-runner.md
  .gitignore
Due: baseline-validation, docs-validation

feat: Add 3 new skills for daily workflow gaps
  skills/README.md
  skills/data-analysis/bsee-sodir-extraction/SKILL.md
  skills/devtools/pyproject-toml/SKILL.md
  skills/devtools/uv-package-manager/SKILL.md
Due: baseline-validation, docs-validation

fix: Rebuild .gitmodules with all 24 submodules
  .gitmodules
Due: none

feat: Add portable Claude configuration and agent-skills integration
  .claude/CONFIGURATION.md
  .claude/README.md
  .claude/agent-skills-map.yaml
  .claude/claude-flow-config.yaml
  .claude/settings.json
  .claude/tools/__init__.py
  .claude/tools/context_manager.py
  .claude/tools/discovery.py
  .claude/tools/worker_contract.py
  .claude/workflows/README.md
  .claude/workflows/aggregation.yaml
  .claude/workflows/checkpoint.yaml
  .claude/workflows/data-analysis.yaml
  .claude/workflows/pytest-validation.yaml
  .claude/workflows/standard-development.yaml
  .gitignore
  CLAUDE.md
  scripts/setup-claude-env.sh
Due: baseline-validation, baseline-quick-check, performance-regression-check, docs-validation

refactor: Archive 29 deprecated agents to reduce complexity
  .claude/agent-library/_archive/README.md
  .claude/agent-library/_archive/consensus/byzantine-coordinator.md
  .claude/agent-library/_archive/consensus/crdt-synchronizer.md
  .claude/agent-library/_archive/consensus/gossip-coordinator.md
  .claude/agent-library/_archive/consensus/performance-benchmarker.md
  .claude/agent-library/_archive/consensus/quorum-manager.md
  .claude/agent-library/_archive/consensus/raft-manager.md
  .claude/agent-library/_archive/consensus/security-manager.md
  .claude/agent-library/_archive/flow-nexus/app-store.md
  .claude/agent-library/_archive/flow-nexus/authentication.md
  .claude/agent-library/_archive/flow-nexus/challenges.md
  .claude/agent-library/_archive/flow-nexus/neural-network.md
  .claude/agent-library/_archive/flow-nexus/payments.md
  .claude/agent-library/_archive/flow-nexus/sandbox.md
  .claude/agent-library/_archive/flow-nexus/swarm.md
  .claude/agent-library/_archive/flow-nexus/user-tools.md
  .claude/agent-library/_archive/flow-nexus/workflow.md
  .claude/agent-library/_archive/goal/code-goal-planner.md
  .claude/agent-library/_archive/goal/goal-planner.md
  .claude/agent-library/_archive/hive-mind/collective-intelligence-coordinator.md
  .claude/agent-library/_archive/hive-mind/queen-coordinator.md
  .claude/agent-library/_archive/hive-mind/scout-explorer.md
  .claude/agent-library/_archive/hive-mind/swarm-memory-manager.md
  .claude/agent-library/_archive/hive-mind/worker-specialist.md
  .claude/agent-library/_archive/neural/safla-neural.md
  .claude/agent-library/_archive/optimization/benchmark-suite.md
  .claude/agent-library/_archive/optimization/load-balancer.md
  .claude/agent-library/_archive/optimization/performance-monitor.md
  .claude/agent-library/_archive/optimization/resource-allocator.md
  .claude/agent-library/_archive/optimization/topology-optimizer.md
  .claude/agent-skills-map.yaml
Due: baseline-validation, docs-validation

fix: Handle nested submodule errors gracefully in setup script
  scripts/setup-claude-env.sh
Due: none

feat: Add plan templates with cross-review process
  .claude/settings.json
  CLAUDE.md
  specs/templates/plan-template-minimal.md
  specs/templates/plan-template.md
Due: baseline-validation, docs-validation

feat: Add agent library and workspace-hub skills
  .claude/agent-library/registry.yaml
  .claude/agent-library/sparc/refinement.md
  .claude/skills/workspace-hub/repo-readiness/README.md
  .claude/skills/workspace-hub/repo-readiness/SKILL.md
  .claude/skills/workspace-hub/repo-readiness/bulk_install_hooks.sh
  .claude/skills/workspace-hub/repo-readiness/bulk_readiness_check.sh
  .claude/skills/workspace-hub/repo-readiness/check_readiness.sh
  .claude/skills/workspace-hub/repo-readiness/install_hook.sh
  .claude/skills/workspace-hub/skill-learner/README.md
  .claude/skills/workspace-hub/skill-learner/SKILL.md
  .claude/skills/workspace-hub/skill-learner/analyze_commit.sh
  .claude/skills/workspace-hub/skill-learner/bulk_install_hooks.sh
  .claude/skills/workspace-hub/skill-learner/install_hook.sh
Due: baseline-validation, docs-validation

refactor: Optimize CLAUDE.md context and add reference docs
  .claude/docs/CONTEXT_LIMITS.md
  .claude/docs/agents.md
  .claude/docs/execution-patterns.md
  .claude/docs/mcp-tools.md
  .gitignore
  CLAUDE.md
Due: baseline-validation, docs-validation

feat: Add context-management skill v2.0 with scheduled daily checks
  .claude/skills/context-management/SKILL.md
  scripts/context/analyze_patterns.sh
  scripts/context/daily_context_check.bat
  scripts/context/daily_context_check.sh
  scripts/context/improve_context.sh
  scripts/context/setup_scheduled_task.ps1
  scripts/context/validate_context.sh
Due: baseline-validation, docs-validation

chore: Merge user-home settings to portable workspace config
  CLAUDE.md
Due: baseline-validation, docs-validation

feat: Add portable global Claude config with setup script
  .claude/global/CLAUDE.md
  .claude/global/settings.json
  .claude/global/setup.sh
  .gitignore
Due: baseline-validation, docs-validation

chore: Update submodule references after sync
  .claude/global/settings.json
Due: baseline-validation

feat(tools): Add Excel translation capability - Gemini
  .claude/skills/data-engineering/excel-translation/SKILL.md
  docs/plans/2026-01-19-excel-translation.md
  scripts/python/translate_excel.py
Due: baseline-validation, baseline-quick-check, performance-regression-check, docs-validation
