Repository vamseeachanta/workspace-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: baseline-validation, baseline-quick-check, baseline-auto-fix, performance-regression-check, docs-validation

baseline-validation:
  name: Baseline Validation
  entry: scripts/hooks/baseline-validation.sh
  language: script
  stages:
  - commit
  - push
  pass_filenames: true
  verbose: true

baseline-quick-check:
  name: Quick Baseline Check
  entry: scripts/hooks/baseline-quick-check.sh
  language: script
  stages:
  - commit
  pass_filenames: true

baseline-auto-fix:
  name: Baseline Auto-fix
  entry: scripts/hooks/baseline-auto-fix.sh
  language: script
  stages:
  - commit
  pass_filenames: true

performance-regression-check:
  name: Performance Regression Check
  entry: scripts/hooks/performance-check.sh
  language: script
  stages:
  - push
  pass_filenames: false

docs-validation:
  name: Documentation Validation
  entry: scripts/hooks/docs-validation.sh
  language: script
  stages:
  - commit
  pass_filenames: true

Enhanced .gitignore for multi-team development collaboration
  .gitignore
  SECURITY.md
Due: baseline-validation, docs-validation

Temporarily remove .github workflows due to permission scope
  .github/workflows/baseline-audit.yml
  .github/workflows/baseline-check.yml
Due: none

Initialize Agent OS and AI Ecosystem documentation
  CLAUDE.md
  docs/AI_ECOSYSTEM.md
Due: baseline-validation, docs-validation

Add workspace automation scripts and project directories
  claude_repo_switcher.bat
  daily_routine.bat
  daily_routine_repos.bat
  git_all_repos.ps1
  package-lock.json
  package.json
  scripts/open_gitbash_here.bat
  setup_claude_repos.bat
  verify_claude_setup.bat
Due: baseline-validation

Add git sync and commit automation script
  modules/git-management/sync_and_commit_all.sh
Due: none

Add Factory.ai and Spec-Kit integration with automation tools
  .drcode/config.json
  .github/workflows/baseline-audit.yml
  .github/workflows/baseline-check.yml
  docs/AI_ECOSYSTEM.md
  docs/FACTORY_AI_GUIDE.md
  docs/FACTORY_AI_QUICK_START.md
  modules/automation/install_factory_all_repos.sh
  modules/automation/install_speckit_all_repos.sh
Due: baseline-validation, docs-validation

Implement AI Agent Orchestration System across all repositories
  CLAUDE.md
  docs/AI_AGENT_ORCHESTRATION.md
  modules/automation/agent_orchestrator.sh
  modules/automation/deploy_orchestration_all_repos.sh
  modules/automation/gate_pass_review.sh
  modules/automation/update_ai_agents_daily.sh
  modules/config/ai-agents-registry.json
  modules/config/workflow-templates.json
  modules/git-management/push_all_repos.sh
Due: baseline-validation, docs-validation

Add orchestration sync script for all repositories
  modules/git-management/sync_orchestration_all_repos.sh
Due: none

Add Interactive HTML Reporting System with visualization agents
  CLAUDE.md
  docs/HTML_REPORTING_STANDARDS.md
  modules/config/ai-agents-registry.json
  modules/reporting/templates/plotly_report_template.py
  modules/reporting/utils/path_utils.py
Due: baseline-validation, baseline-quick-check, performance-regression-check, docs-validation

Add repository status check script
  check_all_status.sh
Due: none

Implement enhanced Factory AI configuration across all repositories
  .drcode/config-enhanced.json
  .drcode/droids-repo-template.yml
  .drcode/droids.yml
  docs/AI_ECOSYSTEM.md
  docs/FACTORY_AI_ENHANCED_GUIDE.md
  modules/automation/install_factory_all_repos.sh
  modules/automation/install_factory_enhanced.sh
Due: baseline-validation, docs-validation

Add SPECIFY initialization guide and branch cleanup reports
  .gitignore
  SPECIFY_INITIALIZATION_GUIDE.md
  branch_cleanup_report_20250831_062738.json
  branch_cleanup_report_20250831_064119.json
Due: baseline-validation, docs-validation

Namespace source under workspace_hub and update orchestration guidance
  branch_cleanup_report_20250831_062738.json
  branch_cleanup_report_20250831_064119.json
  scripts/bash/check_all_status.sh
  scripts/powershell/open_gitbash_here.bat
  specs/modules/ai-native/ai_native_infrastructure_input.yaml
  src/index.ts
  src/workspace_hub/approval/api/ApprovalAPI.ts
  src/workspace_hub/approval/api/routes.ts
  src/workspace_hub/approval/engine/ApprovalWorkflowEngine.ts
  src/workspace_hub/approval/errors/ApprovalErrors.ts
  src/workspace_hub/approval/github/GitHubIntegration.ts
  src/workspace_hub/approval/manager/BaselineUpdateManager.ts
  src/workspace_hub/approval/middleware/ErrorHandlingMiddleware.ts
  src/workspace_hub/approval/notifications/NotificationSystem.ts
  src/workspace_hub/approval/security/AuditLogger.ts
  src/workspace_hub/approval/security/SecurityManager.ts
  src/workspace_hub/approval/templates/TemplateManager.ts
  src/workspace_hub/approval/templates/WorkflowBuilder.ts
  src/workspace_hub/approval/types/approval.types.ts
  src/workspace_hub/approval/ui/components/ApprovalDashboard.tsx
  src/workspace_hub/approval/ui/components/BaselineUpdateVisualization.tsx
  src/workspace_hub/approval/utils/RetryUtils.ts
  src/workspace_hub/approval/validation/ValidationUtils.ts
  src/workspace_hub/baseline/baseline-manager.ts
  src/workspace_hub/comparison/comparison-engine.ts
  src/workspace_hub/config/config-manager.ts
  src/workspace_hub/engine/baseline-tracking-engine.ts
  src/workspace_hub/metrics/metrics-collector.ts
  src/workspace_hub/rules/rule-engine.ts
  src/workspace_hub/types/index.ts
  src/workspace_hub/utils/file-utils.ts
  src/workspace_hub/utils/validation.ts
Due: baseline-validation, baseline-quick-check, baseline-auto-fix, performance-regression-check

Track agent runtime symlinks and reinforce spec feedback loop
  .agent-runtime/agents
  .agent-runtime/commands
  .agent-runtime/mcp/.mcp.json
  .agent-runtime/mcp/setup_mcp_servers.sh
  .agent-runtime/resources
  specs/modules/ai-native/ai_native_infrastructure_input.yaml
Due: baseline-validation

Document .agent-runtime substructure guidance
  specs/modules/ai-native/ai_native_infrastructure_input.yaml
Due: none

Automate AI-native scaffolding rollout
  config/.gitkeep
  data/.gitkeep
  data/processed/.gitkeep
  data/raw/.gitkeep
  data/results/.gitkeep
  docs/.gitkeep
  docs/api/.gitkeep
  docs/guides/.gitkeep
  docs/modules/.gitkeep
  modules/.gitkeep
  scripts/.gitkeep
  scripts/bash/.gitkeep
  scripts/cli/.gitkeep
  scripts/cli/setup-ai-native-infrastructure.js
  scripts/powershell/.gitkeep
  scripts/python/.gitkeep
  specs/.gitkeep
  specs/modules/.gitkeep
  src/.gitkeep
  src/workspace_hub/automation/ai-native-infrastructure.js
  tests/.gitkeep
  tests/fixtures/.gitkeep
  tests/integration/.gitkeep
  tests/unit/.gitkeep
  tests/unit/modules/ai-native/ai-native-infrastructure.test.js
Due: baseline-validation, baseline-quick-check, baseline-auto-fix, performance-regression-check

Add test baseline summary automation
  .gitignore
  reports/.gitkeep
  reports/test-summary/.gitkeep
  reports/test-summary/baseline-summary.json
  scripts/cli/generate-test-baseline-summary.js
  src/workspace_hub/automation/test-baseline-summary.js
  tests/jest.config.js
  tests/unit/modules/ai-native/test-baseline-summary.test.js
Due: baseline-validation, baseline-quick-check, baseline-auto-fix, performance-regression-check

Update test baseline summary report
  reports/test-summary/baseline-summary.json
Due: baseline-validation

Document test baseline summary requirement
  specs/modules/ai-native/ai_native_infrastructure_input.yaml
Due: none

Add codex package to dependencies
  package-lock.json
  package.json
Due: baseline-validation

Track scripts/droid directory
  scripts/droid
Due: none

Add Chrome DevTools MCP server documentation
  CLAUDE.md
Due: baseline-validation, docs-validation

Add interactive workspace sync CLI tool
  CLAUDE.md
  config/sync-items.json
  scripts/sync
Due: baseline-validation, docs-validation

Add UV environment sync for all repos
  scripts/sync
Due: none

Enable mandatory interactive question-asking mode for all repositories
  CLAUDE.md
  docs/INTERACTIVE_MODE_GUIDELINES.md
  scripts/propagate_interactive_mode.sh
Due: baseline-validation, docs-validation

Add AI-managed file organization standards for all repositories
  CLAUDE.md
  docs/FILE_ORGANIZATION_STANDARDS.md
Due: baseline-validation, docs-validation

Add Python-based CLAUDE.md propagation script
  scripts/propagate_claude_config.py
Due: baseline-validation, baseline-quick-check, performance-regression-check

Add comprehensive AI usage guidelines compliance enforcement system
  CLAUDE.md
  docs/AI_USAGE_GUIDELINES.md
  docs/COMPLIANCE_ENFORCEMENT.md
  docs/README_COMPLIANCE.md
  scripts/install_compliance_hooks.sh
  scripts/propagate_guidelines.sh
  scripts/setup_compliance.sh
  scripts/verify_compliance.sh
Due: baseline-validation, docs-validation

Transform compliance enforcement to gentle guidance with visual examples
  CLAUDE.md
  docs/AI_HELPER_EXAMPLES.md
  docs/AI_USAGE_GUIDELINES.md
Due: baseline-validation, docs-validation

Add propagation reports and data drilldown template documentation
  propagation_report.txt
  test_compliance_report.txt
  workspace-hub/templates/html/DATA_DRILLDOWN_TEMPLATE_README.md
Due: baseline-validation, docs-validation

Add repository synchronization CLI tool for managing work and personal repos
  config/repos.conf
  docs/REPOSITORY_SYNC.md
  repository_sync
Due: baseline-validation, docs-validation

Enhance repository_sync with comprehensive git operations
  docs/REPOSITORY_SYNC.md
  repository_sync
Due: baseline-validation, docs-validation

Refactor repository_sync to use command-based CLI interface
  repository_sync
Due: none

Add comprehensive branch management to repository_sync
  docs/REPOSITORY_SYNC.md
  repository_sync
Due: baseline-validation, docs-validation

Path conditions:
  baseline-validation: any of: \.(js|ts|jsx|tsx|py|json|md)$
  baseline-quick-check: any of: \.(js|ts|jsx|tsx|py)$
  baseline-auto-fix: any of: \.(js|ts|jsx|tsx)$
  performance-regression-check: any of: \.(js|ts|jsx|tsx|py)$
  docs-validation: any of: \.md$
