Repository vamseeachanta/workspace-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: baseline-validation, baseline-quick-check, baseline-auto-fix, performance-regression-check, docs-validation

baseline-validation:
  name: Baseline Validation
  entry: scripts/hooks/baseline-validation.sh
  language: script
  stages:
  - commit
  - push
  pass_filenames: true
  verbose: true

baseline-quick-check:
  name: Quick Baseline Check
  entry: scripts/hooks/baseline-quick-check.sh
  language: script
  stages:
  - commit
  pass_filenames: true

baseline-auto-fix:
  name: Baseline Auto-fix
  entry: scripts/hooks/baseline-auto-fix.sh
  language: script
  stages:
  - commit
  pass_filenames: true

performance-regression-check:
  name: Performance Regression Check
  entry: scripts/hooks/performance-check.sh
  language: script
  stages:
  - push
  pass_filenames: false

docs-validation:
  name: Documentation Validation
  entry: scripts/hooks/docs-validation.sh
  language: script
  stages:
  - commit
  pass_filenames: true

chore: Add SME skills library and update implementation summaries
  IMPLEMENTATION_SUMMARY.md
  IMPLEMENTATION_SUMMARY_MODEL_SELECTION.md
  ORGANIZATION_PLAN.md
  skills/README.md
  skills/sme/production-engineering/SKILL.md
  skills/sme/standards/api/SKILL.md
  skills/sme/standards/astm/SKILL.md
  skills/sme/standards/dnv/SKILL.md
  skills/sme/standards/iso/SKILL.md
  skills/sme/standards/norsok/SKILL.md
Due: baseline-validation, docs-validation

feat: Add batch synchronization script for quick multi-repo sync
  scripts/repo_sync_batch.sh
Due: none

Fix P1 bug: Deduplication analyzer not detecting duplicates across files
  docs/reviews/workspace-hub-review.md
  scripts/ai-review/gemini-review-manager.sh
  scripts/ai-review/gemini-review.sh
  src/utilities/deduplication.py
  tests/test_deduplication_fix.py
Due: baseline-validation, baseline-quick-check, performance-regression-check, docs-validation

feat: Add mandatory cross-review policy for Claude/Gemini commits
  CLAUDE.md
  docs/modules/ai/AI_AGENT_GUIDELINES.md
  docs/modules/ai/CODEX_REVIEW_WORKFLOW.md
  docs/modules/ai/CROSS_REVIEW_POLICY.md
  docs/modules/ai/GEMINI_REVIEW_WORKFLOW.md
Due: baseline-validation, docs-validation

fix: Correct type hints in _extract_code_blocks to reflect List structure
  src/utilities/deduplication.py
Due: baseline-validation, baseline-quick-check, performance-regression-check

feat: Add cross-review-loop.sh for 3-iteration AI commit reviews
  scripts/ai-review/cross-review-loop.sh
Due: none

Create comprehensive pytest & coverage configuration package
  templates/PYTEST_CONFIG_SNIPPETS.md
  templates/PYTEST_INTEGRATION_GUIDE.md
  templates/PYTEST_QUICK_REFERENCE.txt
  templates/PYTEST_TEMPLATES_SUMMARY.md
  templates/README_PYTEST_COVERAGE.md
  templates/pytest-coverage-config.toml
Due: baseline-validation, docs-validation

feat: Add unified test runner for parallel pytest execution across 25+ repositories
  docs/modules/testing/IMPLEMENTATION_SUMMARY.md
  docs/modules/testing/INDEX_UNIFIED_TEST_RUNNER.md
  docs/modules/testing/QUICK_START_TEST_RUNNER.md
  docs/modules/testing/TEST_RUNNER_EXAMPLES.md
  docs/modules/testing/UNIFIED_TEST_RUNNER.md
  scripts/testing/README.md
  scripts/testing/unified_test_runner.py
Due: baseline-validation, baseline-quick-check, performance-regression-check, docs-validation

fix: Correct file handle management in test result logging
  scripts/testing/unified_test_runner.py
Due: baseline-validation, baseline-quick-check, performance-regression-check

Phase 1e: Cross-repository validation complete - pytest baseline operational across all 25 repos
  PHASE_1C_ASSESSMENT_SUMMARY.md
  PHASE_1E_BASELINE_METRICS.csv
  PHASE_1E_CROSS_REPO_VALIDATION_REPORT.md
  PHASE_1E_EXECUTION_SUMMARY.txt
  PHASE_1_FOUNDATION_STRENGTHENING_COMPLETE.md
  PHASE_1_PILOT_DEPLOYMENT_READY.md
  docs/TIER2_ASSESSMENT_DEPLOYMENT_PLAN.md
  docs/TIER2_QUICK_REFERENCE.md
  docs/TIER2_REPOSITORY_INDEX.md
Due: baseline-validation, docs-validation

feat: Add iteration-status command to review-manager.sh
  scripts/ai-review/review-manager.sh
Due: none

fix: Use safe arithmetic to avoid set -e failures in stats
  scripts/ai-review/review-manager.sh
Due: none

chore: Add workspace-hub skills and update submodule references
  skills/README.md
  skills/workspace-hub/agent-os-framework/SKILL.md
  skills/workspace-hub/bash-script-framework/SKILL.md
  skills/workspace-hub/interactive-report-generator/SKILL.md
  skills/workspace-hub/pytest-fixture-generator/SKILL.md
  skills/workspace-hub/python-project-template/SKILL.md
  skills/workspace-hub/yaml-workflow-executor/SKILL.md
Due: baseline-validation, docs-validation

fix: Correct weekly/monthly usage counting to include full date range
  scripts/monitoring/check_claude_usage.sh
Due: none

fix: Correct propagation script arithmetic and shell compatibility
  scripts/compliance/propagate_skill_references.sh
Due: none

refactor: Replace @docs/ embeds with on-demand skill references
  .claude/CLAUDE.md
  CLAUDE.md
Due: baseline-validation, docs-validation

chore: Batch sync - submodules and workspace updates
  **Complete
  .claude/CLAUDE.md
  .claude/agents/registry.yaml
  .claude/agents/sparc/refinement.md
  ASSESSMENT_SUMMARY_FOR_USER.md
  ASSESSMENT_SUMMARY_FOR_USER.txt
  CLAUDE.md
  Copy-paste
  IMPLEMENTATION_SUMMARY.md
  PHASE_2_TIER_3_DEPLOYMENT_REPORT.txt
  This
  docs/DEPLOYMENT_STRATEGY_PYTEST_PYPROJECT.md
  docs/PHASE_2_TIER_3_DEPLOYMENT_STRATEGY.md
  docs/PYTEST_TEMPLATES_DEPLOYMENT_GUIDE.md
  docs/TESTING_FRAMEWORK_STANDARDS.md
  docs/TIER_3_MINIMAL_ASSESSMENT.md
  docs/templates/INDEX.md
  docs/templates/PYTEST_DEPLOYMENT_GUIDE.md
  docs/templates/PYTEST_QUICK_REFERENCE.md
  docs/templates/README_PYTEST.md
  docs/templates/deploy_pytest_config.sh
  docs/templates/pytest.ini
  docs/templates/pytest.tier1.ini
  docs/templates/pytest.tier2.ini
  docs/templates/pytest.tier3.ini
  scripts/batchtools/aggregate_results.sh
  scripts/batchtools/batch_runner.sh
  skills/README.md
  skills/bash/README.md
  skills/bash/bash-cli-framework/SKILL.md
  skills/bash/complexity-scorer/SKILL.md
  skills/bash/git-sync-manager/SKILL.md
  skills/bash/interactive-menu-builder/SKILL.md
  skills/bash/json-config-loader/SKILL.md
  skills/bash/parallel-batch-executor/SKILL.md
  skills/bash/state-directory-manager/SKILL.md
  skills/bash/usage-tracker/SKILL.md
  skills/sme/marine-safety/SKILL.md
  templates/INDEX.md
Due: baseline-validation, docs-validation

feat: Add devops skills and coordination strategy
  .claude/COORDINATION.md
  .claude/skills/devops/database.md
  .claude/skills/devops/infrastructure.md
  .claude/skills/devops/observability.md
  .claude/skills/devops/security-audit.md
Due: baseline-validation, docs-validation

feat: Add pytest templates, skills, and documentation
  ASSESSMENT_SUMMARY_FOR_USER.md
  ASSESSMENT_SUMMARY_FOR_USER.txt
  Copy-paste
  PHASE_2_TIER_3_DEPLOYMENT_REPORT.txt
  This
  docs/DEPLOYMENT_STRATEGY_PYTEST_PYPROJECT.md
  docs/PHASE_2_TIER_3_DEPLOYMENT_STRATEGY.md
  docs/PYTEST_TEMPLATES_DEPLOYMENT_GUIDE.md
  docs/TESTING_FRAMEWORK_STANDARDS.md
  docs/TIER_3_MINIMAL_ASSESSMENT.md
  docs/templates/INDEX.md
  docs/templates/PYTEST_DEPLOYMENT_GUIDE.md
  docs/templates/PYTEST_QUICK_REFERENCE.md
  docs/templates/README_PYTEST.md
  docs/templates/deploy_pytest_config.sh
  docs/templates/pytest.ini
  docs/templates/pytest.tier1.ini
  docs/templates/pytest.tier2.ini
  docs/templates/pytest.tier3.ini
  scripts/batchtools/aggregate_results.sh
  scripts/compliance/propagate_skill_references.sh
  skills/bash/README.md
  skills/bash/bash-cli-framework/SKILL.md
  skills/bash/complexity-scorer/SKILL.md
  skills/bash/git-sync-manager/SKILL.md
  skills/bash/interactive-menu-builder/SKILL.md
  skills/bash/json-config-loader/SKILL.md
  skills/bash/parallel-batch-executor/SKILL.md
  skills/bash/state-directory-manager/SKILL.md
  skills/bash/usage-tracker/SKILL.md
  skills/sme/marine-safety/SKILL.md
  templates/INDEX.md
Due: baseline-validation, docs-validation

chore: Update configurations and scripts
  .claude/CLAUDE.md
  .claude/agents/registry.yaml
  .claude/agents/sparc/refinement.md
  .gitignore
  CLAUDE.md
  IMPLEMENTATION_SUMMARY.md
  scripts/batchtools/batch_runner.sh
  scripts/monitoring/check_claude_usage.sh
  skills/README.md
Due: baseline-validation, docs-validation

Delete **Complete
  **Complete
Due: none

feat: Add pdf-large-reader skill reference
  .claude/skills/tools/pdf-large-reader/SKILL.md
Due: baseline-validation, docs-validation

chore: Add SPARC modes section to CLAUDE.md
  .claude/CLAUDE.md
  CLAUDE.md
Due: baseline-validation, docs-validation

feat: Add skills to repo for cross-machine transfer
  .claude/skills/context-management/SKILL.md
  .claude/skills/guidelines/ai-agent-guidelines/SKILL.md
  .claude/skills/guidelines/file-org-standards/SKILL.md
  .claude/skills/guidelines/html-reporting-standards/SKILL.md
  .claude/skills/guidelines/logging-standards/SKILL.md
  .claude/skills/guidelines/testing-standards/SKILL.md
  .claude/skills/optimization/model-selection/SKILL.md
  .claude/skills/optimization/usage-optimization/SKILL.md
  .claude/skills/product/product-roadmap/SKILL.md
  .claude/skills/workflows/codex-review/SKILL.md
  .claude/skills/workflows/cross-review-policy/SKILL.md
  .claude/skills/workflows/dev-workflow/SKILL.md
  .claude/skills/workflows/gemini-review/SKILL.md
  .claude/skills/workspace-hub/ai-questioning-pattern/SKILL.md
  .claude/skills/workspace-hub/compliance-propagation-automator/SKILL.md
  .claude/skills/workspace-hub/development-workflow-orchestrator/SKILL.md
  .claude/skills/workspace-hub/file-organization-assistant/SKILL.md
  .claude/skills/workspace-hub/html-reporting-enforcer/SKILL.md
  .claude/skills/workspace-hub/knowledge-base-system/SKILL.md
  .claude/skills/workspace-hub/repository-health-analyzer/SKILL.md
  .gitignore
Due: baseline-validation, docs-validation

Path conditions:
  baseline-validation: any of: \.(js|ts|jsx|tsx|py|json|md)$
  baseline-quick-check: any of: \.(js|ts|jsx|tsx|py)$
  baseline-auto-fix: any of: \.(js|ts|jsx|tsx)$
  performance-regression-check: any of: \.(js|ts|jsx|tsx|py)$
  docs-validation: any of: \.md$
