Repository vamseeachanta/workspace-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: baseline-validation, baseline-quick-check, baseline-auto-fix, performance-regression-check, docs-validation

baseline-validation:
  name: Baseline Validation
  entry: scripts/hooks/baseline-validation.sh
  language: script
  stages:
  - commit
  - push
  pass_filenames: true
  verbose: true

baseline-quick-check:
  name: Quick Baseline Check
  entry: scripts/hooks/baseline-quick-check.sh
  language: script
  stages:
  - commit
  pass_filenames: true

baseline-auto-fix:
  name: Baseline Auto-fix
  entry: scripts/hooks/baseline-auto-fix.sh
  language: script
  stages:
  - commit
  pass_filenames: true

performance-regression-check:
  name: Performance Regression Check
  entry: scripts/hooks/performance-check.sh
  language: script
  stages:
  - push
  pass_filenames: false

docs-validation:
  name: Documentation Validation
  entry: scripts/hooks/docs-validation.sh
  language: script
  stages:
  - commit
  pass_filenames: true

feat(work-queue): add work queue system with 23 pending items
  .claude/commands/work.md
  .claude/commands/workspace-hub/work.md
  .claude/skill-registry.yaml
  .claude/skills/coordination/workspace/work-queue/SKILL.md
  .claude/skills/coordination/workspace/work-queue/actions/capture.md
  .claude/skills/coordination/workspace/work-queue/actions/process.md
  .claude/skills/coordination/workspace/work-queue/templates/context-document.md
  .claude/skills/coordination/workspace/work-queue/templates/work-item-complex.md
  .claude/skills/coordination/workspace/work-queue/templates/work-item-simple.md
  .claude/work-queue/pending/WRK-001.md
  .claude/work-queue/pending/WRK-002.md
  .claude/work-queue/pending/WRK-003.md
  .claude/work-queue/pending/WRK-004.md
  .claude/work-queue/pending/WRK-005.md
  .claude/work-queue/pending/WRK-006.md
  .claude/work-queue/pending/WRK-007.md
  .claude/work-queue/pending/WRK-008.md
  .claude/work-queue/pending/WRK-009.md
  .claude/work-queue/pending/WRK-010.md
  .claude/work-queue/pending/WRK-011.md
  .claude/work-queue/pending/WRK-012.md
  .claude/work-queue/pending/WRK-013.md
  .claude/work-queue/pending/WRK-014.md
  .claude/work-queue/pending/WRK-015.md
  .claude/work-queue/pending/WRK-016.md
  .claude/work-queue/pending/WRK-017.md
  .claude/work-queue/pending/WRK-018.md
  .claude/work-queue/pending/WRK-019.md
  .claude/work-queue/pending/WRK-020.md
  .claude/work-queue/pending/WRK-021.md
  .claude/work-queue/pending/WRK-022.md
  .claude/work-queue/pending/WRK-023.md
  .claude/work-queue/state.yaml
  .gitignore
  scripts/work-queue/archive-item.sh
  scripts/work-queue/next-id.sh
  scripts/work-queue/queue-report.sh
  scripts/work-queue/queue-status.sh
Due: baseline-validation, docs-validation

fix(claude-reflect): prevent bash syntax errors in skill count parsing
  .claude/skills/coordination/workspace/claude-reflect/scripts/daily-reflect.sh
Due: none

feat(verify): add skill-eval command to test/evaluate all skills
  .claude/commands/verify/skill-eval.md
  .claude/skill-registry.yaml
  .claude/skills/development/skill-eval/SKILL.md
  .claude/skills/development/skill-eval/scripts/eval-skills.py
  specs/modules/skill-eval/plan.md
Due: baseline-validation, baseline-quick-check, performance-regression-check, docs-validation

fix(claude-reflect): aceengineer cron race condition and work queue check
  .claude/skills/coordination/workspace/claude-reflect/scripts/daily-reflect.sh
Due: none

fix(claude-reflect): use find-based repo discovery for test coverage
  .claude/skills/coordination/workspace/claude-reflect/scripts/daily-reflect.sh
Due: none

feat(claude-reflect): add skill-eval and capability-map checks to daily reflection
  .claude/skills/coordination/workspace/claude-reflect/scripts/daily-reflect.sh
  Copy-paste
  This
  config/knip.json
  config/package-lock.json
  config/package.json
  docs/assessments/ASSESSMENT_SUMMARY_FOR_USER.md
  docs/assessments/ASSESSMENT_SUMMARY_FOR_USER.txt
  docs/assessments/IMPLEMENTATION_SUMMARY.md
  docs/assessments/IMPLEMENTATION_SUMMARY_MODEL_SELECTION.md
  docs/assessments/ORGANIZATION_PLAN.md
  docs/assessments/PHASE_1C_ASSESSMENT_SUMMARY.md
  docs/assessments/PHASE_1E_BASELINE_METRICS.csv
  docs/assessments/PHASE_1E_CROSS_REPO_VALIDATION_REPORT.md
  docs/assessments/PHASE_1E_EXECUTION_SUMMARY.txt
  docs/assessments/PHASE_1_FOUNDATION_STRENGTHENING_COMPLETE.md
  docs/assessments/PHASE_1_PILOT_DEPLOYMENT_READY.md
  docs/assessments/PHASE_2_TIER_3_DEPLOYMENT_REPORT.txt
  docs/guides/SECURITY.md
  docs/guides/SPECIFY_INITIALIZATION_GUIDE.md
  docs/guides/test-skill-learning.md
  docs/reports/propagation_report.txt
  docs/reports/test_compliance_report.txt
  scripts/windows/claude_repo_switcher.bat
  scripts/windows/daily_routine.bat
  scripts/windows/daily_routine_repos.bat
  scripts/windows/git_all_repos.ps1
  scripts/windows/setup_claude_repos.bat
  scripts/windows/verify_claude_setup.bat
  wget-log
  wget-log.1
Due: baseline-validation, docs-validation

docs(work-queue): add Buckskin field context to WRK-024
  .claude/work-queue/pending/WRK-024.md
Due: baseline-validation, docs-validation

feat(knowledge-manager): add institutional knowledge capture and retrieval system
  .claude/commands/workspace-hub/knowledge.md
  .claude/docs/command-registry.md
  .claude/knowledge/entries/decisions/ADR-001-orchestrator-pattern.md
  .claude/knowledge/entries/decisions/ADR-002-markdown-yaml-knowledge.md
  .claude/knowledge/entries/gotchas/GOT-001-learned-patterns-empty.md
  .claude/knowledge/entries/patterns/PAT-001-tdd-before-implementation.md
  .claude/knowledge/entries/tips/TIP-001-find-based-repo-discovery.md
  .claude/knowledge/index.json
  .claude/skills/coordination/workspace/claude-reflect/scripts/daily-reflect.sh
  .claude/skills/coordination/workspace/knowledge-manager/SKILL.md
  .claude/skills/coordination/workspace/knowledge-manager/scripts/knowledge-advise.sh
  .claude/skills/coordination/workspace/knowledge-manager/scripts/knowledge-capture.sh
  .claude/skills/coordination/workspace/knowledge-manager/scripts/knowledge-index.sh
  .claude/skills/coordination/workspace/knowledge-manager/scripts/knowledge-review.sh
  .claude/skills/coordination/workspace/knowledge-manager/scripts/knowledge-search.sh
  .claude/skills/coordination/workspace/knowledge-manager/scripts/knowledge-stats.sh
  .claude/skills/coordination/workspace/knowledge-manager/templates/correction.md
  .claude/skills/coordination/workspace/knowledge-manager/templates/decision.md
  .claude/skills/coordination/workspace/knowledge-manager/templates/gotcha.md
  .claude/skills/coordination/workspace/knowledge-manager/templates/pattern.md
  .claude/skills/coordination/workspace/knowledge-manager/templates/tip.md
  .gitignore
Due: baseline-validation, docs-validation

feat(work-queue): add WRK-025 through WRK-050 and update state
  .claude/global/settings.json
  .claude/work-queue/pending/WRK-024.md
  .claude/work-queue/pending/WRK-025.md
  .claude/work-queue/pending/WRK-026.md
  .claude/work-queue/pending/WRK-027.md
  .claude/work-queue/pending/WRK-028.md
  .claude/work-queue/pending/WRK-029.md
  .claude/work-queue/pending/WRK-030.md
  .claude/work-queue/pending/WRK-031.md
  .claude/work-queue/pending/WRK-032.md
  .claude/work-queue/pending/WRK-033.md
  .claude/work-queue/pending/WRK-034.md
  .claude/work-queue/pending/WRK-035.md
  .claude/work-queue/pending/WRK-036.md
  .claude/work-queue/pending/WRK-037.md
  .claude/work-queue/pending/WRK-038.md
  .claude/work-queue/pending/WRK-039.md
  .claude/work-queue/pending/WRK-040.md
  .claude/work-queue/pending/WRK-041.md
  .claude/work-queue/pending/WRK-042.md
  .claude/work-queue/pending/WRK-043.md
  .claude/work-queue/pending/WRK-044.md
  .claude/work-queue/pending/WRK-045.md
  .claude/work-queue/pending/WRK-046.md
  .claude/work-queue/pending/WRK-047.md
  .claude/work-queue/pending/WRK-048.md
  .claude/work-queue/pending/WRK-049.md
  .claude/work-queue/pending/WRK-050.md
  .claude/work-queue/state.yaml
Due: baseline-validation, docs-validation

feat(claude): add repo-capability-map skill and spec modules
  .claude/commands/workspace-hub/repo-capability-map.md
  .claude/skills/coordination/workspace/repo-capability-map/SKILL.md
  .claude/skills/coordination/workspace/repo-capability-map/actions/compare.md
  .claude/skills/coordination/workspace/repo-capability-map/actions/gaps.md
  .claude/skills/coordination/workspace/repo-capability-map/actions/report.md
  .claude/skills/coordination/workspace/repo-capability-map/actions/scan.md
  .claude/skills/coordination/workspace/repo-capability-map/templates/capability-report.md
  .claude/skills/coordination/workspace/repo-capability-map/templates/repo-profile.md
  specs/modules/clever-inventing-pie.md
  specs/modules/dazzling-hopping-puzzle.md
  specs/modules/fancy-prancing-panda.md
  specs/modules/flickering-wibbling-narwhal.md
  specs/modules/snug-questing-hopcroft.md
  specs/modules/snuggly-greeting-barto.md
  specs/modules/woolly-leaping-aurora.md
Due: baseline-validation, docs-validation

feat(work-queue): add test coverage improvement items WRK-051 to WRK-056
  .claude/work-queue/pending/WRK-009.md
  .claude/work-queue/pending/WRK-051.md
  .claude/work-queue/pending/WRK-052.md
  .claude/work-queue/pending/WRK-053.md
  .claude/work-queue/pending/WRK-054.md
  .claude/work-queue/pending/WRK-055.md
  .claude/work-queue/pending/WRK-056.md
  .claude/work-queue/state.yaml
Due: baseline-validation, docs-validation

feat(compound-engineering): add compound engineering skill with 4-phase loop
  .claude/commands/workspace-hub/compound.md
  .claude/skill-registry.yaml
  .claude/skills/coordination/workspace/compound-engineering/SKILL.md
  .claude/skills/coordination/workspace/work-queue/SKILL.md
Due: baseline-validation, docs-validation

docs(spec): mark compound-engineering spec as implemented
  specs/modules/flickering-rolling-rossum.md
Due: baseline-validation, docs-validation

docs(daily-logs): add weekly reports and update Jan 30 with session outcomes
  logs/daily/2026-01-24.md
  logs/daily/2026-01-25.md
  logs/daily/2026-01-26.md
  logs/daily/2026-01-27.md
  logs/daily/2026-01-28.md
  logs/daily/2026-01-29.md
  logs/daily/2026-01-30.md
Due: baseline-validation, docs-validation

feat(orcaflex): add format converter + WRK-064 for license-required tasks
  .claude/work-queue/pending/WRK-064.md
  specs/modules/harmonic-knitting-gizmo.md
Due: baseline-validation, docs-validation

feat(today): add ecosystem health report mode with --reflect flag
  .claude/commands/today.md
  scripts/productivity/daily-reflect-report.sh
  scripts/productivity/daily_today.sh
Due: baseline-validation, docs-validation

chore(work-queue): update WRK-010/026/038 and add WRK-057 to WRK-063
  .claude/work-queue/pending/WRK-010.md
  .claude/work-queue/pending/WRK-026.md
  .claude/work-queue/pending/WRK-038.md
  .claude/work-queue/pending/WRK-057.md
  .claude/work-queue/pending/WRK-058.md
  .claude/work-queue/pending/WRK-059.md
  .claude/work-queue/pending/WRK-060.md
  .claude/work-queue/pending/WRK-061.md
  .claude/work-queue/pending/WRK-062.md
  .claude/work-queue/pending/WRK-063.md
  .claude/work-queue/state.yaml
Due: baseline-validation, docs-validation

docs(specs): update flickering-wibbling-narwhal and add two new spec modules
  specs/modules/flickering-wibbling-narwhal.md
  specs/modules/imperative-bubbling-key.md
Due: baseline-validation, docs-validation

fix(ci): disable 4 Node.js workflows that don't match Python workspace
  .github/workflows/baseline-audit.yml
  .github/workflows/baseline-check.yml
  .github/workflows/multi-ai-review.yml
  .github/workflows/refactor-analysis.yml
Due: none

feat(diffraction): add spec converter and update digitalmodel submodule
  specs/modules/diffraction-spec-converter.md
Due: baseline-validation, docs-validation

fix(reflect): fix generalize phase detection and update submodules
  .claude/skills/coordination/workspace/claude-reflect/scripts/daily-reflect.sh
Due: none

feat(work-queue): add index generator and archive 11 done items
  .claude/skills/coordination/workspace/work-queue/SKILL.md
  .claude/skills/coordination/workspace/work-queue/actions/capture.md
  .claude/work-queue/INDEX.md
  .claude/work-queue/archive/2026-01/WRK-009.md
  .claude/work-queue/archive/2026-01/WRK-010.md
  .claude/work-queue/archive/2026-01/WRK-026.md
  .claude/work-queue/archive/2026-01/WRK-057.md
  .claude/work-queue/archive/2026-01/WRK-058.md
  .claude/work-queue/archive/2026-01/WRK-059.md
  .claude/work-queue/archive/2026-01/WRK-060.md
  .claude/work-queue/archive/2026-01/WRK-061.md
  .claude/work-queue/archive/2026-01/WRK-062.md
  .claude/work-queue/archive/2026-01/WRK-063.md
  .claude/work-queue/archive/2026-01/WRK-065.md
  .claude/work-queue/scripts/generate-index.py
  .claude/work-queue/state.yaml
Due: baseline-validation, baseline-quick-check, performance-regression-check, docs-validation

feat(schemas): add Pydantic validation for YAML state files
  coordination/pyproject.toml
  coordination/src/coordination/schemas/__init__.py
  coordination/src/coordination/schemas/__main__.py
  coordination/src/coordination/schemas/_registry.py
  coordination/src/coordination/schemas/cc_user_insights.py
  coordination/src/coordination/schemas/learnings.py
  coordination/src/coordination/schemas/reflect_state.py
  coordination/src/coordination/schemas/work_queue.py
  coordination/tests/integration/test_validate_real_files.py
  coordination/tests/unit/test_cc_user_insights_schema.py
  coordination/tests/unit/test_learnings_schema.py
  coordination/tests/unit/test_reflect_state_schema.py
  coordination/tests/unit/test_schema_cli.py
  coordination/tests/unit/test_schema_registry.py
  coordination/tests/unit/test_work_queue_schema.py
Due: baseline-validation, baseline-quick-check, performance-regression-check

chore: daily reflect actions — test infra fixes, commit tooling, state updates
  .claude/state/cc-user-insights.yaml
  .claude/state/reflect-state.yaml
  .cz.toml
  .pre-commit-config.yaml
Due: none

feat(WRK-050): add cross-platform hardware assessment scripts and skill
  .claude/skills/operations/devops/hardware-assessment/SKILL.md
  .claude/work-queue/pending/WRK-050.md
  scripts/operations/system/hardware-assess.ps1
  scripts/operations/system/hardware-assess.sh
  specs/modules/hardware-inventory/aceengineer-01.md
Due: baseline-validation, docs-validation

feat(WRK-050): add system update and maintenance orchestrator scripts
  .claude/skills/operations/devops/hardware-assessment/SKILL.md
  scripts/operations/system/system-maintain.ps1
  scripts/operations/system/system-maintain.sh
  scripts/operations/system/system-update.ps1
  scripts/operations/system/system-update.sh
Due: baseline-validation, docs-validation

fix(system-maintain): continue after update failure instead of exiting
  scripts/operations/system/system-maintain.sh
Due: none

fix(system-update): suppress tool stdout from corrupting JSON output
  scripts/operations/system/system-update.sh
  specs/modules/hardware-inventory/aceengineer-01.md
  specs/modules/hardware-inventory/maintenance/hardware-assessment-vamsee-linux1-20260202-post.json
  specs/modules/hardware-inventory/maintenance/hardware-assessment-vamsee-linux1-20260202-pre.json
  specs/modules/hardware-inventory/maintenance/system-changelog-vamsee-linux1-20260202.json
  specs/modules/hardware-inventory/maintenance/system-update-vamsee-linux1-20260202.json
Due: baseline-validation, docs-validation

chore: sync submodule pointers to latest remote commits
  .claude/skills/coordination/workspace/claude-reflect/scripts/daily-reflect.sh
Due: none

Path conditions:
  baseline-validation: any of: \.(js|ts|jsx|tsx|py|json|md)$
  baseline-quick-check: any of: \.(js|ts|jsx|tsx|py)$
  baseline-auto-fix: any of: \.(js|ts|jsx|tsx)$
  performance-regression-check: any of: \.(js|ts|jsx|tsx|py)$
  docs-validation: any of: \.md$
