Repository vamseeachanta/workspace-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: baseline-validation, baseline-quick-check, baseline-auto-fix, performance-regression-check, docs-validation

baseline-validation:
  name: Baseline Validation
  entry: scripts/hooks/baseline-validation.sh
  language: script
  stages:
  - commit
  - push
  pass_filenames: true
  verbose: true

baseline-quick-check:
  name: Quick Baseline Check
  entry: scripts/hooks/baseline-quick-check.sh
  language: script
  stages:
  - commit
  pass_filenames: true

baseline-auto-fix:
  name: Baseline Auto-fix
  entry: scripts/hooks/baseline-auto-fix.sh
  language: script
  stages:
  - commit
  pass_filenames: true

performance-regression-check:
  name: Performance Regression Check
  entry: scripts/hooks/performance-check.sh
  language: script
  stages:
  - push
  pass_filenames: false

docs-validation:
  name: Documentation Validation
  entry: scripts/hooks/docs-validation.sh
  language: script
  stages:
  - commit
  pass_filenames: true

Implement agent organization infrastructure (Phase 1)
  .claude/agents/universal/README.md
  modules/automation/setup_agent_links.sh
  templates/.agent-hub-config.yaml
  templates/.agent-references.yaml
Due: baseline-validation, docs-validation

Add comprehensive agent organization and cross-repo referencing guide
  docs/AGENT_ORGANIZATION_GUIDE.md
Due: baseline-validation, docs-validation

feat: Integrate best practices from everything-claude-code
  .claude/agent-library/core/explorer.md
  .claude/docs/agent-composition.md
  .claude/docs/command-registry.md
  .claude/docs/mcp-tools.md
  .claude/hooks/session-memory/pre-compact-save.sh
  .claude/hooks/session-memory/session-end-evaluate.sh
  .claude/rules/README.md
  .claude/rules/coding-style.md
  .claude/rules/git-workflow.md
  .claude/rules/patterns.md
  .claude/rules/security.md
  .claude/rules/testing.md
  .claude/settings.json
  .claude/skills/development/verification-loop/SKILL.md
  .gitignore
  CLAUDE.md
  scripts/audit/.fuse_hidden000bbf89000013e8
  scripts/audit/rule-compliance.sh
Due: baseline-validation, docs-validation

Add comprehensive repository analysis and improvement recommendations
  docs/REPOSITORY_ANALYSIS_RECOMMENDATIONS.md
Due: baseline-validation, docs-validation

feat: Add Windows scheduled task for daily RAG aggregation
  .claude/hooks/daily-rag-aggregate.bat
  .claude/hooks/session-logger.sh
  .claude/hooks/setup-scheduled-task.ps1
Due: none

chore: Add session logs and claude-reflect setup files
  .claude/skills/session-logs/aggregated/ai_explanations_20260122.tsv
  .claude/skills/session-logs/aggregated/human_prompts_20260122.tsv
  .claude/skills/session-logs/aggregated/summary_20260122.json
  .claude/skills/session-logs/aggregated/tool_stats_20260122.txt
  .claude/skills/session-logs/session_20260122.jsonl
  .claude/skills/session-logs/session_20260123.jsonl
  .claude/skills/session-logs/transcripts/current_c45ef69e-783d-4a52-b436-b659e6397674.jsonl
  .claude/skills/session-logs/trends_20260122.json
  .claude/skills/workspace-hub/claude-reflect/SETUP.md
  .claude/skills/workspace-hub/claude-reflect/scripts/run-reflection.bat
  .claude/skills/workspace-hub/claude-reflect/scripts/run-reflection.sh
Due: baseline-validation, docs-validation

fix: Restore session-logger.sh with proper tool capture and path fix
  .claude/hooks/session-logger.sh
Due: none

fix: Update paths in post-commit-hook-gemini and crontab.example
  scripts/coordination/productivity/crontab.example
  scripts/development/ai-review/post-commit-hook-gemini
Due: none

fix: Correct WORKSPACE_ROOT path detection in claude-reflect scripts
  .claude/skills/coordination/workspace/claude-reflect/scripts/analyze-history.sh
  .claude/skills/coordination/workspace/claude-reflect/scripts/analyze-sessions.sh
  .claude/skills/coordination/workspace/claude-reflect/scripts/analyze-trends.sh
  .claude/skills/coordination/workspace/claude-reflect/scripts/create-skills.sh
  .claude/skills/coordination/workspace/claude-reflect/scripts/daily-reflect.sh
  .claude/skills/coordination/workspace/claude-reflect/scripts/extract-corrections.sh
  .claude/skills/coordination/workspace/claude-reflect/scripts/extract-patterns.sh
  .claude/skills/coordination/workspace/claude-reflect/scripts/extract-script-ideas.sh
  .claude/skills/coordination/workspace/claude-reflect/scripts/generate-report.sh
Due: none

feat: Add conversation log analyzer to daily-reflect RAGS loop
  .claude/skills/coordination/workspace/claude-reflect/scripts/analyze-conversations.sh
  .claude/skills/coordination/workspace/claude-reflect/scripts/daily-reflect.sh
  .claude/skills/coordination/workspace/claude-reflect/scripts/extract-script-ideas.jq
Due: none

fix(reflect): exclude session continuations from correction analysis
  .claude/skills/coordination/workspace/claude-reflect/scripts/analyze-conversations.sh
Due: none

feat(reflect): add quality checklist summary to daily-reflect
  .claude/skills/coordination/workspace/claude-reflect/scripts/daily-reflect.sh
Due: none

feat(reflect): add Codex review tracking to cross-review check
  .claude/skills/coordination/workspace/claude-reflect/scripts/daily-reflect.sh
Due: none

feat(config): add portable statusline configuration
  .claude/settings.json
Due: baseline-validation

feat(scripts): add daily cron job for repository sync
  scripts/cron-repository-sync.sh
  scripts/repository_sync
Due: none

chore: Update references after aceengineercode migration
  .claude/skills/_core/bash/complexity-scorer/SKILL.md
  .claude/skills/ai/optimization/model-selection/SKILL.md
  config/sync-items.json
  scripts/operations/monitoring/suggest_model.sh
Due: baseline-validation, docs-validation

fix: Remove invalid filename '**Comprehensive' (Windows incompatible)
  **Comprehensive
Due: none

feat(reflect): expand daily-reflect checklist to 13 quality checks
  .claude/skills/coordination/workspace/claude-reflect/scripts/daily-reflect.sh
Due: none

feat: Add .claude/hooks to submodule repos
  claude-flow/.claude/hooks/capture-corrections.sh
  flow-nexus/.claude/hooks/capture-corrections.sh
  ruv-swarm/.claude/hooks/capture-corrections.sh
Due: none

fix: Use Git Bash instead of WSL for scheduled task
  .claude/hooks/daily-rag-aggregate.bat
Due: none

feat(reflect): auto-approve stale Codex reviews older than 14 days
  .claude/skills/coordination/workspace/claude-reflect/scripts/daily-reflect.sh
Due: none

feat(reflect): add aceengineer-website cron job status to daily checklist
  .claude/skills/coordination/workspace/claude-reflect/scripts/daily-reflect.sh
  specs/modules/stateful-nibbling-steele.md
Due: baseline-validation, docs-validation

feat(reflect): complete RAG-to-skills feedback loop
  .claude/skills/coordination/workspace/claude-reflect/scripts/create-skills.sh
  .claude/skills/coordination/workspace/claude-reflect/scripts/daily-reflect.sh
Due: none

feat(reflect): add CC release notes insights to daily checklist
  .claude/skills/coordination/workspace/claude-reflect/scripts/daily-reflect.sh
  .claude/skills/coordination/workspace/claude-reflect/scripts/extract-cc-insights.sh
Due: none

feat(reflect): add Phase 2 correction learning - file types, chains, edit context
  .claude/hooks/capture-corrections.sh
  .claude/skills/coordination/workspace/claude-reflect/scripts/analyze-trends.sh
  .claude/skills/coordination/workspace/claude-reflect/scripts/daily-reflect.sh
  .claude/skills/coordination/workspace/claude-reflect/scripts/extract-corrections.sh
  .claude/skills/coordination/workspace/claude-reflect/scripts/tests/fixtures/legacy-corrections.jsonl
  .claude/skills/coordination/workspace/claude-reflect/scripts/tests/fixtures/sample-corrections.jsonl
  .claude/skills/coordination/workspace/claude-reflect/scripts/tests/fixtures/sample-hook-input-edit.json
  .claude/skills/coordination/workspace/claude-reflect/scripts/tests/fixtures/sample-hook-input-write.json
  .claude/skills/coordination/workspace/claude-reflect/scripts/tests/fixtures/sample-patterns-day2.json
  .claude/skills/coordination/workspace/claude-reflect/scripts/tests/fixtures/sample-patterns.json
  .claude/skills/coordination/workspace/claude-reflect/scripts/tests/test-analyze-trends.sh
  .claude/skills/coordination/workspace/claude-reflect/scripts/tests/test-capture-corrections.sh
  .claude/skills/coordination/workspace/claude-reflect/scripts/tests/test-extract-corrections.sh
  .gitmodules
Due: baseline-validation

fix(ci): upgrade artifact actions from v3 to v4
  .github/workflows/baseline-audit.yml
  .github/workflows/baseline-check.yml
Due: none

feat(claude): add resource index and retrieval-led reasoning directive
  CLAUDE.md
Due: baseline-validation, docs-validation

Path conditions:
  baseline-validation: any of: \.(js|ts|jsx|tsx|py|json|md)$
  baseline-quick-check: any of: \.(js|ts|jsx|tsx|py)$
  baseline-auto-fix: any of: \.(js|ts|jsx|tsx)$
  performance-regression-check: any of: \.(js|ts|jsx|tsx|py)$
  docs-validation: any of: \.md$
