Repository vamseeachanta/workspace-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: baseline-validation, baseline-quick-check, baseline-auto-fix, performance-regression-check, docs-validation

.pre-commit-config.yaml:

# Pre-commit hooks for baseline testing validation
# See https://pre-commit.com for more information

repos:
  # Local hooks for baseline testing
  - repo: local
    hooks:
      # Baseline validation hook
      - id: baseline-validation
        name: Baseline Validation
        entry: scripts/hooks/baseline-validation.sh
        language: script
        stages: [commit, push]
        files: \.(js|ts|jsx|tsx|py|json|md)$
        pass_filenames: true
        verbose: true

      # Quick baseline check
      - id: baseline-quick-check
        name: Quick Baseline Check
        entry: scripts/hooks/baseline-quick-check.sh
        language: script
        stages: [commit]
        files: \.(js|ts|jsx|tsx|py)$
        pass_filenames: true

      # Baseline auto-fix
      - id: baseline-auto-fix
        name: Baseline Auto-fix
        entry: scripts/hooks/baseline-auto-fix.sh
        language: script
        stages: [commit]
        files: \.(js|ts|jsx|tsx)$
        pass_filenames: true

  # Standard code quality hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        stages: [commit]
      - id: end-of-file-fixer
        stages: [commit]
      - id: check-yaml
        stages: [commit]
      - id: check-json
        stages: [commit]
      - id: check-merge-conflict
        stages: [commit]
      - id: check-added-large-files
        args: ['--maxkb=1000']
        stages: [commit]

  # JavaScript/TypeScript linting
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.56.0
    hooks:
      - id: eslint
        files: \.[jt]sx?$
        types: [file]
        stages: [commit]
        additional_dependencies:
          - eslint@8.56.0
          - '@typescript-eslint/parser@6.17.0'
          - '@typescript-eslint/eslint-plugin@6.17.0'

  # Python hooks
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3
        stages: [commit]

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        stages: [commit]

  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        stages: [commit]

  # Performance testing hook
  - repo: local
    hooks:
      - id: performance-regression-check
        name: Performance Regression Check
        entry: scripts/hooks/performance-check.sh
        language: script
        stages: [push]
        files: \.(js|ts|jsx|tsx|py)$
        pass_filenames: false

  # Documentation validation
  - repo: local
    hooks:
      - id: docs-validation
        name: Documentation Validation
        entry: scripts/hooks/docs-validation.sh
        language: script
        stages: [commit]
        files: \.md$
        pass_filenames: true

# Global configuration
default_stages: [commit]
fail_fast: false
default_language_version:
  python: python3.11
  node: 18.19.0

# CI-specific configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: [baseline-validation, performance-regression-check]
  submodules: false

fix(skills): Resolve P1 CLI tool missing imports in PDF skill v1.2.1
  .claude/skills/document-handling/pdf/SKILL.md
Due: baseline-validation, docs-validation

fix(skills): Resolve P2 mkdir parents issue in PDF skill v1.2.2
  .claude/skills/document-handling/pdf/SKILL.md
Due: baseline-validation, docs-validation

docs(pdf): Add pdf-large-reader robust extraction capability
  .claude/skills/document-handling/pdf/SKILL.md
Due: baseline-validation, docs-validation

fix(pdf): Correct process_large_pdf API signature in documentation
  .claude/skills/document-handling/pdf/SKILL.md
Due: baseline-validation, docs-validation

Add 7 new workspace-hub skills and update README
  .claude/skills/.claude-flow/metrics/performance.json
  .claude/skills/.claude-flow/metrics/task-metrics.json
  .claude/skills/README.md
Due: baseline-validation, docs-validation

feat(skills): Add comprehensive skill library for digitalmodel (16 skills)
  skills/README.md
  skills/RECOMMENDED_SKILLS_FOR_DIGITALMODEL.md
  skills/SKILLS_CREATION_SUMMARY.md
  skills/charts/README.md
  skills/charts/chartjs/SKILL.md
  skills/charts/d3js/SKILL.md
  skills/charts/echarts/SKILL.md
  skills/charts/highcharts/SKILL.md
  skills/charts/plotly/SKILL.md
  skills/programming/api-integration/SKILL.md
  skills/programming/cad-mesh-generation/SKILL.md
  skills/programming/numpy-numerical-analysis/SKILL.md
  skills/programming/pandas-data-processing/SKILL.md
  skills/programming/python-scientific-computing/SKILL.md
  skills/programming/yaml-configuration/SKILL.md
  skills/sme/fatigue-analysis/SKILL.md
  skills/sme/hydrodynamic-analysis/SKILL.md
  skills/sme/marine-offshore-engineering/SKILL.md
  skills/sme/mooring-analysis/SKILL.md
  skills/sme/orcaflex-specialist/SKILL.md
  skills/sme/risk-assessment/SKILL.md
  skills/sme/ship-dynamics-6dof/SKILL.md
  skills/sme/structural-analysis/SKILL.md
  skills/sme/wave-theory/SKILL.md
Due: baseline-validation, docs-validation

feat(skills): Add repo-readiness and skill-learner skills for all repos
  .claude/NEW_SKILLS_SUMMARY.md
  skills/workspace-hub/repo-readiness/README.md
  skills/workspace-hub/repo-readiness/SKILL.md
  skills/workspace-hub/repo-readiness/bulk_install_hooks.sh
  skills/workspace-hub/repo-readiness/bulk_readiness_check.sh
  skills/workspace-hub/repo-readiness/check_readiness.sh
  skills/workspace-hub/repo-readiness/install_hook.sh
  skills/workspace-hub/skill-learner/README.md
  skills/workspace-hub/skill-learner/SKILL.md
  skills/workspace-hub/skill-learner/analyze_commit.sh
  skills/workspace-hub/skill-learner/bulk_install_hooks.sh
  skills/workspace-hub/skill-learner/install_hook.sh
  templates/hooks/post-commit.sh
  templates/hooks/pre-task.sh
Due: baseline-validation, docs-validation

test: Add test file to demonstrate skill-learner hook
  test-skill-learning.md
Due: baseline-validation, docs-validation

feat(skills): Create data-validation-reporter skill from production pattern
  skills/workspace-hub/data-validation-reporter/README.md
  skills/workspace-hub/data-validation-reporter/SKILL.md
  skills/workspace-hub/data-validation-reporter/config_template.yaml
  skills/workspace-hub/data-validation-reporter/example_usage.py
  skills/workspace-hub/data-validation-reporter/validator_template.py
Due: baseline-validation, baseline-quick-check, performance-regression-check, docs-validation

docs: Add skill implementation summary
  docs/SKILL_IMPLEMENTATION_SUMMARY.md
Due: baseline-validation, docs-validation

docs: Add digitalmodel skill installation guide
  docs/SKILL_INSTALLATION_DIGITALMODEL.md
Due: baseline-validation, docs-validation

docs(skills): Complete data-validation-reporter deployment
  docs/SKILL_BULK_INSTALLATION_SUMMARY.md
  docs/SKILL_DEPLOYMENT_COMPLETE.md
  skills/workspace-hub/data-validation-reporter/bulk_install.sh
  skills/workspace-hub/data-validation-reporter/install_to_repo.sh
Due: baseline-validation, docs-validation

Add repository health analyzer and skills propagation tools
  scripts/compliance/propagate_all_skills.sh
  scripts/monitoring/analyze_repo_health.py
Due: baseline-validation, baseline-quick-check, performance-regression-check

docs: Add comprehensive consolidation migration plan for all 25+ aceengineercode modules
  docs/ACEENGINEERCODE_CONSOLIDATION_MIGRATION_PLAN.md
Due: baseline-validation, docs-validation

feat: Complete AI model selection optimization system
  CLAUDE.md
  docs/AI_AGENT_USAGE_OPTIMIZATION_PLAN.md
  docs/AI_MODEL_SELECTION_AUTOMATION.md
  docs/AI_OPTIMIZATION_IMPLEMENTATION_SUMMARY.md
  docs/AUTOMATED_MODEL_SELECTION_INTEGRATION_COMPLETE.md
  docs/CLAUDE_MODEL_SELECTION_QUICK_REFERENCE.md
  scripts/monitoring/check_claude_usage.sh
  scripts/monitoring/suggest_model.sh
Due: baseline-validation, docs-validation

Phase 1 Pre-Execution: CI/CD pipeline, setup scripts, and documentation
  .github/workflows/phase1-consolidation.yml
  docs/phase1-execution-log.md
  docs/phase1-performance-baseline.md
  docs/phase1-preflight-checklist.md
  docs/phase1-processes.md
  scripts/phase1-setup.sh
Due: baseline-validation, docs-validation

Phase 1 Team Alignment: Project board setup and kickoff guide
  docs/PHASE_1_PROJECT_BOARD_SETUP.md
  docs/PHASE_1_TEAM_ALIGNMENT_GUIDE.md
Due: baseline-validation, docs-validation

Add Phase 1 Executive Summary - Pre-execution setup complete
  docs/PHASE_1_EXECUTIVE_SUMMARY.md
Due: baseline-validation, docs-validation

docs: Add comprehensive model selection system validation report
  docs/reports/MODEL_SELECTION_VALIDATION_REPORT.md
Due: baseline-validation, docs-validation

Phase 1: Create foundational code structures for all 5 Phase 1 tasks
  src/config/__init__.py
  src/config/config_loader.py
  src/config/config_manager.py
  src/config/schema_validator.py
  src/database/__init__.py
  src/database/connection.py
  src/database/migrations.py
  src/database/session_manager.py
  src/models/__init__.py
  src/models/base.py
  src/solvers/__init__.py
  src/solvers/base.py
  src/solvers/registry.py
  src/utilities/__init__.py
  src/utilities/deduplication.py
  tests/unit/test_config_loader.py
  tests/unit/test_config_manager.py
  tests/unit/test_models_base.py
  tests/unit/test_solvers_registry.py
Due: baseline-validation, baseline-quick-check, performance-regression-check

fix(Phase 1): All 72 tests passing - fix test failures for ConfigManager and BaseModel
  config/test_database.conf
  docs/ACEENGINEERCODE_CONSOLIDATION_ANALYSIS.md
  docs/ACEENGINEERCODE_RETIREMENT_PLAN.md
  docs/ACEENGINEERCODE_TO_DIGITALMODEL_MIGRATION_REPORT.md
  docs/PHASE_1_TASK_SPECIFICATIONS.md
  docs/REPOSITORY_IMPROVEMENT_TRACKER.md
  docs/REPOSITORY_REVIEW_CHECKLIST.md
  docs/SELF_IMPROVEMENT_INITIATIVE_SUMMARY.md
  docs/SELF_IMPROVEMENT_README.md
  docs/SELF_IMPROVING_REPOSITORIES_FRAMEWORK.md
  docs/reports/API579_COMPONENTS_MIGRATION_VERIFICATION.md
  docs/reviews/workspace-hub-review.md
  scripts/system/install_openfoam_v13.sh
  scripts/system/openfoam_marine_engineering_cases.md
  scripts/system/openfoam_parallel_processing.md
  scripts/system/openfoam_v2212_to_v13_migration.md
  scripts/system/paraview_bubblecolumn_guide.md
  scripts/system/paraview_guide.md
  scripts/system/paraview_sloshing_guide.md
  src/__init__.py
  src/config/schema_validator.py
  src/models/__init__.py
  src/models/base.py
  tests/__init__.py
  tests/unit/__init__.py
  tests/unit/test_config_loader.py
  tests/unit/test_config_manager.py
  wget-log
  wget-log.1
Due: baseline-validation, baseline-quick-check, performance-regression-check, docs-validation

docs(Phase 1): Add comprehensive Phase 1 completion summary
  docs/PHASE_1_COMPLETION_SUMMARY.md
Due: baseline-validation, docs-validation

feat(Phase 1.1): Add concrete model implementations
  src/models/__init__.py
  src/models/config_models.py
  src/models/data_models.py
  src/models/solver_models.py
Due: baseline-validation, baseline-quick-check, performance-regression-check

docs: Add model selection system deployment report
  docs/reports/MODEL_SELECTION_DEPLOYMENT_REPORT.md
Due: baseline-validation, docs-validation

chore: Remove aceengineercode from workspace-hub (consolidation to digitalmodel)
  .gitignore
  config/repos.conf
  docs/WORKSPACE_HUB_REPOSITORY_OVERVIEW.md
Due: baseline-validation, docs-validation

feat(consolidation): Complete aceengineercode consolidation & model selection automation
  .claude/CLAUDE.md
  IMPLEMENTATION_SUMMARY.md
  config/claude_profile.json
  config/claude_usage.json
  config/codex_profile.json
  config/codex_usage.json
  config/gemini_profile.json
  config/gemini_usage.json
  err.txt
  out.txt
  scripts/ai-review/gemini-review-manager.sh
  scripts/ai-review/gemini-review.sh
  scripts/ai-review/install-gemini-hooks.sh
  scripts/ai-review/post-commit-hook-gemini
  scripts/batchtools/batch_runner.sh
  scripts/batchtools/test_tasks.json
  scripts/monitoring/MODEL_SELECTION_ENHANCED.md
  scripts/monitoring/suggest_model.sh
  scripts/routing/MIGRATION_GUIDE.md
  scripts/routing/MULTI_PROVIDER_ORCHESTRATION_DESIGN.md
  scripts/routing/README.md
  scripts/routing/feedback.sh
  scripts/routing/generate_report.py
  scripts/routing/optimize_weights.sh
  scripts/routing/orchestrate.sh
Due: baseline-validation, baseline-quick-check, performance-regression-check, docs-validation

Test Gemini Review Trigger
  test_gemini_review_trigger.txt
Due: none

Test Gemini Review Trigger 2
  test_gemini_review_trigger.txt
Due: none

chore: Update Gemini review workflow and documentation
  CLAUDE.md
  README.md
  docs/modules/ai/GEMINI_REVIEW_WORKFLOW.md
  err.txt
  out.txt
  scripts/ai-review/gemini-review.sh
  scripts/ai-review/post-commit-hook-gemini
  test_gemini_review_trigger.txt
Due: baseline-validation, docs-validation
