Repository vamseeachanta/workspace-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: baseline-validation, baseline-quick-check, baseline-auto-fix, performance-regression-check, docs-validation

.pre-commit-config.yaml:

# Pre-commit hooks for baseline testing validation
# See https://pre-commit.com for more information

repos:
  # Local hooks for baseline testing
  - repo: local
    hooks:
      # Baseline validation hook
      - id: baseline-validation
        name: Baseline Validation
        entry: scripts/hooks/baseline-validation.sh
        language: script
        stages: [commit, push]
        files: \.(js|ts|jsx|tsx|py|json|md)$
        pass_filenames: true
        verbose: true

      # Quick baseline check
      - id: baseline-quick-check
        name: Quick Baseline Check
        entry: scripts/hooks/baseline-quick-check.sh
        language: script
        stages: [commit]
        files: \.(js|ts|jsx|tsx|py)$
        pass_filenames: true

      # Baseline auto-fix
      - id: baseline-auto-fix
        name: Baseline Auto-fix
        entry: scripts/hooks/baseline-auto-fix.sh
        language: script
        stages: [commit]
        files: \.(js|ts|jsx|tsx)$
        pass_filenames: true

  # Standard code quality hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        stages: [commit]
      - id: end-of-file-fixer
        stages: [commit]
      - id: check-yaml
        stages: [commit]
      - id: check-json
        stages: [commit]
      - id: check-merge-conflict
        stages: [commit]
      - id: check-added-large-files
        args: ['--maxkb=1000']
        stages: [commit]

  # JavaScript/TypeScript linting
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.56.0
    hooks:
      - id: eslint
        files: \.[jt]sx?$
        types: [file]
        stages: [commit]
        additional_dependencies:
          - eslint@8.56.0
          - '@typescript-eslint/parser@6.17.0'
          - '@typescript-eslint/eslint-plugin@6.17.0'

  # Python hooks
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3
        stages: [commit]

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        stages: [commit]

  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        stages: [commit]

  # Performance testing hook
  - repo: local
    hooks:
      - id: performance-regression-check
        name: Performance Regression Check
        entry: scripts/hooks/performance-check.sh
        language: script
        stages: [push]
        files: \.(js|ts|jsx|tsx|py)$
        pass_filenames: false

  # Documentation validation
  - repo: local
    hooks:
      - id: docs-validation
        name: Documentation Validation
        entry: scripts/hooks/docs-validation.sh
        language: script
        stages: [commit]
        files: \.md$
        pass_filenames: true

# Global configuration
default_stages: [commit]
fail_fast: false
default_language_version:
  python: python3.11
  node: 18.19.0

# CI-specific configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: [baseline-validation, performance-regression-check]
  submodules: false

Add interactive multi-level menu system to repository_sync
  docs/CLI_MENU_STRUCTURE.md
  repository_sync
Due: baseline-validation, docs-validation

Create unified workspace CLI with organized script structure
  .gitignore
  docs/MENU_VISUAL_GUIDE.md
  docs/WORKSPACE_CLI.md
  scripts/compliance/install_compliance_hooks.sh
  scripts/compliance/propagate_claude_config.py
  scripts/compliance/propagate_guidelines.sh
  scripts/compliance/propagate_interactive_mode.sh
  scripts/compliance/setup_compliance.sh
  scripts/compliance/verify_compliance.sh
  scripts/connection/connect-workspace-linux.sh
  scripts/connection/connect-workspace-tailscale.ps1
  scripts/connection/connect-workspace-tailscale.sh
  scripts/connection/connect-workspace-windows.ps1
  scripts/connection/sync-tabby-linux.sh
  scripts/connection/sync-tabby-windows.ps1
  scripts/development/droid
  scripts/development/install_factory_ai.sh
  scripts/development/refactor-analysis.sh
  scripts/repository/check_all_status.sh
  scripts/repository/configure_repos.sh
  scripts/system/setup_xrdp.sh
  scripts/system/sync
  workspace
Due: baseline-validation, baseline-quick-check, performance-regression-check, docs-validation

Add script organization reference documentation
  docs/SCRIPT_ORGANIZATION.md
Due: baseline-validation, docs-validation

Move workspace script to scripts folder and update documentation
  docs/SCRIPT_ORGANIZATION.md
  docs/WORKSPACE_CLI.md
  scripts/workspace
Due: baseline-validation, docs-validation

Add mandatory rule: Use bash scripts over direct commands
  CLAUDE.md
Due: baseline-validation, docs-validation

Consolidate workspace-hub: Remove redundant subfolder
  .gitignore
  coordination/.github/workflows/python-tests.yml
  coordination/.gitignore
  coordination/pyproject.toml
  coordination/src/coordination/__init__.py
  coordination/tests/__init__.py
  coordination/tests/conftest.py
  coordination/tests/integration/__init__.py
  coordination/tests/test_smoke.py
  coordination/tests/unit/__init__.py
  coordination/uv.toml
  templates/html/DATA_DRILLDOWN_TEMPLATE_README.md
Due: baseline-validation, baseline-quick-check, performance-regression-check, docs-validation

Fix: Remove repositories from git tracking (should be untracked)
  coordination/.github/workflows/python-tests.yml
  coordination/.gitignore
  coordination/pyproject.toml
  coordination/src/coordination/__init__.py
  coordination/tests/__init__.py
  coordination/tests/conftest.py
  coordination/tests/integration/__init__.py
  coordination/tests/test_smoke.py
  coordination/tests/unit/__init__.py
  coordination/uv.toml
Due: baseline-validation, baseline-quick-check, performance-regression-check

Move repository_sync to scripts folder and update documentation
  CLAUDE.md
  coordination/.github/workflows/python-tests.yml
  coordination/.gitignore
  coordination/pyproject.toml
  coordination/src/coordination/__init__.py
  coordination/tests/__init__.py
  coordination/tests/conftest.py
  coordination/tests/integration/__init__.py
  coordination/tests/test_smoke.py
  coordination/tests/unit/__init__.py
  coordination/uv.toml
  docs/REPOSITORY_SYNC.md
  docs/SCRIPT_ORGANIZATION.md
  docs/WORKSPACE_CLI.md
  scripts/repository_sync
Due: baseline-validation, baseline-quick-check, performance-regression-check, docs-validation

Fix: Update WORKSPACE_ROOT path after moving script to scripts folder
  scripts/repository_sync
Due: none

Add simpledigitalmarketing to gitignore
  .gitignore
Due: none

Add comprehensive agent organization and cross-repo referencing guide
  docs/AGENT_ORGANIZATION_GUIDE.md
Due: baseline-validation, docs-validation

Implement agent organization infrastructure (Phase 1)
  .claude/agents/universal/README.md
  modules/automation/setup_agent_links.sh
  templates/.agent-hub-config.yaml
  templates/.agent-references.yaml
Due: baseline-validation, docs-validation

Add comprehensive repository analysis and improvement recommendations
  docs/REPOSITORY_ANALYSIS_RECOMMENDATIONS.md
Due: baseline-validation, docs-validation

Update submodule references and add digitaltwinfeed
  .gitmodules
Due: none

Add OpenAI Codex dependency to workspace
  package-lock.json
  package.json
Due: baseline-validation

Reorganize docs into subfolders and optimize CLAUDE.md for AI performance
  CLAUDE.md
  docs/README.md
  docs/WORKSPACE_HUB_CAPABILITIES_SUMMARY.md
  docs/ai/AI_AGENT_GUIDELINES.md
  docs/ai/AI_HELPER_EXAMPLES.md
  docs/ai/AI_USAGE_GUIDELINES.md
  docs/ai/AI_development_tools.md
  docs/ai/CLAUDE_INTERACTION_GUIDE.md
  docs/ai/CLAUDE_PROJECT_MEMORY.md
  docs/ai/CLAUDE_RULES_DEPLOYMENT.md
  docs/ai/CLAUDE_RULES_DEPLOYMENT_REPORT.md
  docs/ai/CLAUDE_RULES_INTEGRATION_PLAN.md
  docs/ai/CLAUDE_RULES_INTEGRATION_SUMMARY.md
  docs/ai/CLAUDE_RULES_QUICK_REFERENCE.md
  docs/ai/INTERACTIVE_MODE_GUIDELINES.md
  docs/ai/MCP_SETUP_GUIDE.md
  docs/ai/README.md
  docs/cli/CLI_MENU_STRUCTURE.md
  docs/cli/MENU_VISUAL_GUIDE.md
  docs/cli/README.md
  docs/cli/REPOSITORY_SYNC.md
  docs/cli/SCRIPT_ORGANIZATION.md
  docs/cli/WORKSPACE_CLI.md
  docs/guides/.gitkeep
  docs/modules/guides/README.md
  docs/standards/COMPLIANCE_ENFORCEMENT.md
  docs/standards/FILE_ORGANIZATION_STANDARDS.md
  docs/standards/HTML_REPORTING_STANDARDS.md
  docs/standards/LOGGING_STANDARDS.md
  docs/standards/README.md
  docs/standards/README_COMPLIANCE.md
  docs/standards/TESTING_FRAMEWORK_STANDARDS.md
  docs/workflow/DEVELOPMENT_WORKFLOW.md
  docs/workflow/DEVELOPMENT_WORKFLOW_GUIDELINES.md
  docs/workflow/DEVELOPMENT_WORKFLOW_SUMMARY.md
  docs/workflow/IMPLEMENTATION_ROADMAP.md
  docs/workflow/README.md
Due: baseline-validation, docs-validation

Reorganize docs folders under modules/ for consistent structure
  CLAUDE.md
  docs/README.md
  docs/modules/ai/AI_AGENT_GUIDELINES.md
  docs/modules/ai/AI_HELPER_EXAMPLES.md
  docs/modules/ai/AI_USAGE_GUIDELINES.md
  docs/modules/ai/AI_development_tools.md
  docs/modules/ai/CLAUDE_INTERACTION_GUIDE.md
  docs/modules/ai/CLAUDE_PROJECT_MEMORY.md
  docs/modules/ai/CLAUDE_RULES_DEPLOYMENT.md
  docs/modules/ai/CLAUDE_RULES_DEPLOYMENT_REPORT.md
  docs/modules/ai/CLAUDE_RULES_INTEGRATION_PLAN.md
  docs/modules/ai/CLAUDE_RULES_INTEGRATION_SUMMARY.md
  docs/modules/ai/CLAUDE_RULES_QUICK_REFERENCE.md
  docs/modules/ai/INTERACTIVE_MODE_GUIDELINES.md
  docs/modules/ai/MCP_SETUP_GUIDE.md
  docs/modules/ai/README.md
  docs/modules/cli/CLI_MENU_STRUCTURE.md
  docs/modules/cli/MENU_VISUAL_GUIDE.md
  docs/modules/cli/README.md
  docs/modules/cli/REPOSITORY_SYNC.md
  docs/modules/cli/SCRIPT_ORGANIZATION.md
  docs/modules/cli/WORKSPACE_CLI.md
  docs/modules/standards/COMPLIANCE_ENFORCEMENT.md
  docs/modules/standards/FILE_ORGANIZATION_STANDARDS.md
  docs/modules/standards/HTML_REPORTING_STANDARDS.md
  docs/modules/standards/LOGGING_STANDARDS.md
  docs/modules/standards/README.md
  docs/modules/standards/README_COMPLIANCE.md
  docs/modules/standards/TESTING_FRAMEWORK_STANDARDS.md
  docs/modules/workflow/DEVELOPMENT_WORKFLOW.md
  docs/modules/workflow/DEVELOPMENT_WORKFLOW_GUIDELINES.md
  docs/modules/workflow/DEVELOPMENT_WORKFLOW_SUMMARY.md
  docs/modules/workflow/IMPLEMENTATION_ROADMAP.md
  docs/modules/workflow/README.md
Due: baseline-validation, docs-validation

Move docs/api/ to docs/modules/api/ for consistency
  docs/modules/api/.gitkeep
Due: none

feat: Add multi-AI commit workflow with Claude, OpenAI, and testing stages
  .github/workflows/multi-ai-review.yml
  config/multi-ai-workflow.yaml
  docs/modules/ai/MULTI_AI_WORKFLOW.md
  scripts/ai-workflow/auto-fix-loop.sh
  scripts/ai-workflow/primary-claude.sh
  scripts/ai-workflow/review-openai.sh
  scripts/ai-workflow/run-workflow.sh
  scripts/ai-workflow/test-runner.sh
Due: baseline-validation, docs-validation

feat: Add Claude Code skills library with 21 skills
  .claude/CLAUDE.md
  .claude/skills/README.md
  .claude/skills/agent-orchestration/SKILL.md
  .claude/skills/algorithmic-art/SKILL.md
  .claude/skills/brand-guidelines/SKILL.md
  .claude/skills/canvas-design/SKILL.md
  .claude/skills/compliance-check/SKILL.md
  .claude/skills/doc-coauthoring/SKILL.md
  .claude/skills/docx/SKILL.md
  .claude/skills/frontend-design/SKILL.md
  .claude/skills/internal-comms/SKILL.md
  .claude/skills/mcp-builder/SKILL.md
  .claude/skills/pdf/SKILL.md
  .claude/skills/pptx/SKILL.md
  .claude/skills/repo-sync/SKILL.md
  .claude/skills/skill-creator/SKILL.md
  .claude/skills/slack-gif-creator/SKILL.md
  .claude/skills/sparc-workflow/SKILL.md
  .claude/skills/theme-factory/SKILL.md
  .claude/skills/web-artifacts-builder/SKILL.md
  .claude/skills/webapp-testing/SKILL.md
  .claude/skills/workspace-cli/SKILL.md
  .claude/skills/xlsx/SKILL.md
  .gitignore
Due: baseline-validation, docs-validation

feat: Add AI tool usage assessment capability
  config/ai-tools/subscriptions.yaml
  scripts/ai-assessment/assess-ai-tools.sh
Due: none

feat: Add value vs cost analysis to AI tool assessment
  scripts/ai-assessment/assess-ai-tools.sh
Due: none

feat: Add daily/monthly usage tracking to AI tool assessment
  scripts/ai-assessment/assess-ai-tools.sh
Due: none
