Repository vamseeachanta/workspace-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: baseline-validation, baseline-quick-check, baseline-auto-fix, performance-regression-check, docs-validation

.pre-commit-config.yaml:

# Pre-commit hooks for baseline testing validation
# See https://pre-commit.com for more information

repos:
  # Local hooks for baseline testing
  - repo: local
    hooks:
      # Baseline validation hook
      - id: baseline-validation
        name: Baseline Validation
        entry: scripts/hooks/baseline-validation.sh
        language: script
        stages: [commit, push]
        files: \.(js|ts|jsx|tsx|py|json|md)$
        pass_filenames: true
        verbose: true

      # Quick baseline check
      - id: baseline-quick-check
        name: Quick Baseline Check
        entry: scripts/hooks/baseline-quick-check.sh
        language: script
        stages: [commit]
        files: \.(js|ts|jsx|tsx|py)$
        pass_filenames: true

      # Baseline auto-fix
      - id: baseline-auto-fix
        name: Baseline Auto-fix
        entry: scripts/hooks/baseline-auto-fix.sh
        language: script
        stages: [commit]
        files: \.(js|ts|jsx|tsx)$
        pass_filenames: true

  # Standard code quality hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        stages: [commit]
      - id: end-of-file-fixer
        stages: [commit]
      - id: check-yaml
        stages: [commit]
      - id: check-json
        stages: [commit]
      - id: check-merge-conflict
        stages: [commit]
      - id: check-added-large-files
        args: ['--maxkb=1000']
        stages: [commit]

  # JavaScript/TypeScript linting
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.56.0
    hooks:
      - id: eslint
        files: \.[jt]sx?$
        types: [file]
        stages: [commit]
        additional_dependencies:
          - eslint@8.56.0
          - '@typescript-eslint/parser@6.17.0'
          - '@typescript-eslint/eslint-plugin@6.17.0'

  # Python hooks
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3
        stages: [commit]

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        stages: [commit]

  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        stages: [commit]

  # Performance testing hook
  - repo: local
    hooks:
      - id: performance-regression-check
        name: Performance Regression Check
        entry: scripts/hooks/performance-check.sh
        language: script
        stages: [push]
        files: \.(js|ts|jsx|tsx|py)$
        pass_filenames: false

  # Documentation validation
  - repo: local
    hooks:
      - id: docs-validation
        name: Documentation Validation
        entry: scripts/hooks/docs-validation.sh
        language: script
        stages: [commit]
        files: \.md$
        pass_filenames: true

# Global configuration
default_stages: [commit]
fail_fast: false
default_language_version:
  python: python3.11
  node: 18.19.0

# CI-specific configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: [baseline-validation, performance-regression-check]
  submodules: false

Add comprehensive workspace-hub repository overview documentation
  docs/README.md
  docs/WORKSPACE_HUB_REPOSITORY_OVERVIEW.md
Due: baseline-validation, docs-validation

Reorganize Claude Code skills into category-based structure
  .claude/skills/README.md
  .claude/skills/builders/skill-creator/SKILL.md
  .claude/skills/builders/web-artifacts-builder/SKILL.md
  .claude/skills/communication/brand-guidelines/SKILL.md
  .claude/skills/communication/doc-coauthoring/SKILL.md
  .claude/skills/communication/internal-comms/SKILL.md
  .claude/skills/communication/slack-gif-creator/SKILL.md
  .claude/skills/content-design/algorithmic-art/SKILL.md
  .claude/skills/content-design/canvas-design/SKILL.md
  .claude/skills/content-design/frontend-design/SKILL.md
  .claude/skills/content-design/theme-factory/SKILL.md
  .claude/skills/development/mcp-builder/SKILL.md
  .claude/skills/development/webapp-testing/SKILL.md
  .claude/skills/document-handling/docx/SKILL.md
  .claude/skills/document-handling/pdf/SKILL.md
  .claude/skills/document-handling/pptx/SKILL.md
  .claude/skills/document-handling/xlsx/SKILL.md
  .claude/skills/tools/ai-tool-assessment/SKILL.md
  .claude/skills/workspace-hub/agent-orchestration/SKILL.md
  .claude/skills/workspace-hub/compliance-check/SKILL.md
  .claude/skills/workspace-hub/repo-sync/SKILL.md
  .claude/skills/workspace-hub/sparc-workflow/SKILL.md
  .claude/skills/workspace-hub/workspace-cli/SKILL.md
  docs/modules/ai/REPO_SPECIFIC_SKILLS.md
Due: baseline-validation, docs-validation

feat: Add auto-sync AI usage tracking from CLI tools
  config/ai-tools/usage-tracking.yaml
  scripts/ai-assessment/assess-ai-tools.sh
  scripts/ai-assessment/auto-sync-usage.sh
  scripts/ai-assessment/log-usage.sh
Due: none

Update skills index and sync submodule references
  .claude/skills/README.md
Due: baseline-validation, docs-validation

Update skills README and digitalmodel submodule for OrcaFlex skills
  .claude/skills/README.md
Due: baseline-validation, docs-validation

Fix Claude Code permission pattern syntax in settings.json
  .claude/settings.json
  .gitignore
Due: baseline-validation

Add comprehensive skills index cataloging 51 skills across 5 repositories
  docs/SKILLS_INDEX.md
Due: baseline-validation, docs-validation

Add automated Codex review workflow for Claude commits
  docs/modules/ai/CODEX_REVIEW_WORKFLOW.md
  scripts/ai-review/codex-review.sh
  scripts/ai-review/install-codex-hooks.sh
  scripts/ai-review/post-commit-hook
  scripts/ai-review/review-manager.sh
Due: baseline-validation, docs-validation

Fix file count bug in Codex review script
  scripts/ai-review/codex-review.sh
Due: none

Add history command to review-manager for activity tracking
  scripts/ai-review/review-manager.sh
Due: none

Add documentation links to main README including skills index
  README.md
Due: baseline-validation, docs-validation

Add feature request for auto-continue after rate limits
  docs/feedback-auto-continue-feature-request.md
Due: baseline-validation, docs-validation

Add document handling and tools skills from O&G knowledge system project
  .claude/skills/document-handling/document-inventory/SKILL.md
  .claude/skills/document-handling/knowledge-base-builder/SKILL.md
  .claude/skills/document-handling/pdf-text-extractor/SKILL.md
  .claude/skills/document-handling/rag-system-builder/SKILL.md
  .claude/skills/document-handling/semantic-search-setup/SKILL.md
  .claude/skills/tools/background-service-manager/SKILL.md
Due: baseline-validation, docs-validation

Add repository URL configuration and O&G standards scripts
  config/repos.conf
  scripts/og-standards/README.md
  scripts/og-standards/catalog.py
  scripts/og-standards/config.yaml
  scripts/og-standards/consolidate.py
  scripts/og-standards/dedup.py
  scripts/og-standards/embed.py
  scripts/og-standards/extract.py
  scripts/og-standards/inventory.py
  scripts/og-standards/og
  scripts/og-standards/og-ingest
  scripts/og-standards/og-rag
  scripts/og-standards/og-service
  scripts/og-standards/og-status
  scripts/og-standards/rag.py
  scripts/og-standards/search.py
  scripts/og-standards/setup.sh
Due: baseline-validation, baseline-quick-check, performance-regression-check, docs-validation

Fix YAML parsing error in O&G standards config
  scripts/og-standards/config.yaml
Due: none

Add auto-embed script and organize feedback docs
  docs/modules/feedback/README.md
  docs/modules/feedback/auto-continue-feature-request.md
  scripts/og-standards/auto_embed.sh
Due: baseline-validation, docs-validation

Fix Windows path compatibility in AI review scripts
  scripts/ai-review/codex-review.sh
  scripts/ai-review/install-codex-hooks.sh
  scripts/ai-review/post-commit-hook
  scripts/ai-review/review-manager.sh
Due: none

Add version history to 30 skills across all categories
  .claude/skills/README.md
  .claude/skills/builders/web-artifacts-builder/SKILL.md
  .claude/skills/communication/brand-guidelines/SKILL.md
  .claude/skills/communication/doc-coauthoring/SKILL.md
  .claude/skills/communication/internal-comms/SKILL.md
  .claude/skills/communication/slack-gif-creator/SKILL.md
  .claude/skills/content-design/algorithmic-art/SKILL.md
  .claude/skills/content-design/canvas-design/SKILL.md
  .claude/skills/content-design/frontend-design/SKILL.md
  .claude/skills/content-design/theme-factory/SKILL.md
  .claude/skills/development/mcp-builder/SKILL.md
  .claude/skills/development/webapp-testing/SKILL.md
  .claude/skills/document-handling/document-inventory/SKILL.md
  .claude/skills/document-handling/docx/SKILL.md
  .claude/skills/document-handling/knowledge-base-builder/SKILL.md
  .claude/skills/document-handling/pdf-text-extractor/SKILL.md
  .claude/skills/document-handling/pdf/SKILL.md
  .claude/skills/document-handling/pptx/SKILL.md
  .claude/skills/document-handling/rag-system-builder/SKILL.md
  .claude/skills/document-handling/semantic-search-setup/SKILL.md
  .claude/skills/document-handling/xlsx/SKILL.md
  .claude/skills/tools/ai-tool-assessment/SKILL.md
  .claude/skills/tools/background-service-manager/SKILL.md
  .claude/skills/workspace-hub/agent-orchestration/SKILL.md
  .claude/skills/workspace-hub/compliance-check/SKILL.md
  .claude/skills/workspace-hub/repo-sync/SKILL.md
  .claude/skills/workspace-hub/sparc-workflow/SKILL.md
  .claude/skills/workspace-hub/workspace-cli/SKILL.md
Due: baseline-validation, docs-validation

Fix skill counts and missing sqlite3 import
  .claude/skills/README.md
  .claude/skills/document-handling/rag-system-builder/SKILL.md
Due: baseline-validation, docs-validation

Update directory structure listing to match actual skill counts
  .claude/skills/README.md
Due: baseline-validation, docs-validation

Update skills README: add production-forecaster (worldenergydata: 9→10 skills)
  .claude/skills/README.md
Due: baseline-validation, docs-validation

Remove OpenAI Codex dependency to clean up workspace
  package-lock.json
  package.json
Due: baseline-validation

feat(skills): Add OpenAI Codex PDF-to-Markdown conversion to PDF skills
  .claude/skills/document-handling/pdf-text-extractor/SKILL.md
  .claude/skills/document-handling/pdf/SKILL.md
Due: baseline-validation, docs-validation
