Repository vamseeachanta/workspace-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: baseline-validation, baseline-quick-check, baseline-auto-fix, performance-regression-check, docs-validation

.pre-commit-config.yaml:

# Pre-commit hooks for baseline testing validation
# See https://pre-commit.com for more information

repos:
  # Local hooks for baseline testing
  - repo: local
    hooks:
      # Baseline validation hook
      - id: baseline-validation
        name: Baseline Validation
        entry: scripts/hooks/baseline-validation.sh
        language: script
        stages: [commit, push]
        files: \.(js|ts|jsx|tsx|py|json|md)$
        pass_filenames: true
        verbose: true

      # Quick baseline check
      - id: baseline-quick-check
        name: Quick Baseline Check
        entry: scripts/hooks/baseline-quick-check.sh
        language: script
        stages: [commit]
        files: \.(js|ts|jsx|tsx|py)$
        pass_filenames: true

      # Baseline auto-fix
      - id: baseline-auto-fix
        name: Baseline Auto-fix
        entry: scripts/hooks/baseline-auto-fix.sh
        language: script
        stages: [commit]
        files: \.(js|ts|jsx|tsx)$
        pass_filenames: true

  # Standard code quality hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        stages: [commit]
      - id: end-of-file-fixer
        stages: [commit]
      - id: check-yaml
        stages: [commit]
      - id: check-json
        stages: [commit]
      - id: check-merge-conflict
        stages: [commit]
      - id: check-added-large-files
        args: ['--maxkb=1000']
        stages: [commit]

  # JavaScript/TypeScript linting
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.56.0
    hooks:
      - id: eslint
        files: \.[jt]sx?$
        types: [file]
        stages: [commit]
        additional_dependencies:
          - eslint@8.56.0
          - '@typescript-eslint/parser@6.17.0'
          - '@typescript-eslint/eslint-plugin@6.17.0'

  # Python hooks
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3
        stages: [commit]

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        stages: [commit]

  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        stages: [commit]

  # Performance testing hook
  - repo: local
    hooks:
      - id: performance-regression-check
        name: Performance Regression Check
        entry: scripts/hooks/performance-check.sh
        language: script
        stages: [push]
        files: \.(js|ts|jsx|tsx|py)$
        pass_filenames: false

  # Documentation validation
  - repo: local
    hooks:
      - id: docs-validation
        name: Documentation Validation
        entry: scripts/hooks/docs-validation.sh
        language: script
        stages: [commit]
        files: \.md$
        pass_filenames: true

# Global configuration
default_stages: [commit]
fail_fast: false
default_language_version:
  python: python3.11
  node: 18.19.0

# CI-specific configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: [baseline-validation, performance-regression-check]
  submodules: false

chore: Sync submodules and update translate_excel tool
  scripts/python/translate_excel.py
  specs/modules/context-management/plan.md
  specs/modules/knowledge-management/plan.md
  specs/modules/skills/enhancement/plan.md
Due: baseline-validation, baseline-quick-check, performance-regression-check, docs-validation

feat(context): Improve CLAUDE.md context management
  .claude/global/CLAUDE.md
  .claude/global/settings.json
  scripts/context/validate_context.sh
Due: baseline-validation, docs-validation

feat: Add meta skills from digitalmodel
  .claude/skills/meta/hidden-folder-audit/SKILL.md
  .claude/skills/meta/module-based-refactor/SKILL.md
  .claude/skills/meta/repo-cleanup/SKILL.md
Due: baseline-validation, docs-validation

docs(skills): Fix broken links in session-start-routine v2.0.1
  .claude/skills/meta/session-start-routine/SKILL.md
Due: baseline-validation, docs-validation

feat(scripts): Add daily context management analysis with cron support
  scripts/context/daily_context_analysis.sh
  scripts/context/setup_cron.sh
Due: none

feat(scripts): Add context optimizer with auto-optimization support
  scripts/context/daily_context_analysis.sh
  scripts/context/optimize_context.sh
  scripts/context/setup_cron.sh
Due: none

feat: Add claude-reflect skill with full RAGS loop implementation
  .claude/commands/workspace-hub/reflect.md
  .claude/skill-registry.yaml
  .claude/skills/workspace-hub/claude-reflect/SKILL.md
  .claude/skills/workspace-hub/claude-reflect/scripts/analyze-history.sh
  .claude/skills/workspace-hub/claude-reflect/scripts/analyze-trends.sh
  .claude/skills/workspace-hub/claude-reflect/scripts/create-skills.sh
  .claude/skills/workspace-hub/claude-reflect/scripts/daily-reflect.sh
  .claude/skills/workspace-hub/claude-reflect/scripts/extract-patterns.sh
  .claude/skills/workspace-hub/claude-reflect/scripts/generate-report.sh
Due: baseline-validation, docs-validation

fix: Correct counter persistence in create-skills.sh
  .claude/skills/workspace-hub/claude-reflect/scripts/create-skills.sh
Due: none

feat: Add /today daily productivity skill with interactive review
  .claude/skills/productivity/today/SKILL.md
  scripts/productivity/crontab.example
  scripts/productivity/daily_today.sh
Due: baseline-validation, docs-validation

feat: Enhance context management with daily analysis
  .claude/skills/context-management/SKILL.md
  scripts/context/daily_context_check.sh
Due: baseline-validation, docs-validation

docs: Add encapsulated-gathering-pixel spec
  specs/modules/encapsulated-gathering-pixel.md
Due: baseline-validation, docs-validation

feat: Add auto-generated skills from recent sessions
  .claude/skills/workspace-hub/auto-generated/auto-sync-batch-update-2026-01/SKILL.md
  .claude/skills/workspace-hub/auto-generated/refactor-migrate-claude-md-to-/SKILL.md
Due: baseline-validation, docs-validation

feat: Add portable hook installer for other repos
  .claude/skills/workspace-hub/claude-reflect/install-hooks.sh
Due: none

feat: Add correction learning hook for RAGS loop
  .claude/settings.json
  .claude/skills/workspace-hub/claude-reflect/scripts/daily-reflect.sh
  .claude/skills/workspace-hub/claude-reflect/scripts/extract-corrections.sh
Due: baseline-validation

docs: Add daily log for 2026-01-21
  logs/daily/2026-01-21.md
Due: baseline-validation, docs-validation

refactor: Move state storage to workspace-hub/.claude/state/
  .claude/commands/today.md
  .claude/skills/workspace-hub/claude-reflect/install-hooks.sh
  .claude/skills/workspace-hub/claude-reflect/scripts/analyze-trends.sh
  .claude/skills/workspace-hub/claude-reflect/scripts/create-skills.sh
  .claude/skills/workspace-hub/claude-reflect/scripts/daily-reflect.sh
  .claude/skills/workspace-hub/claude-reflect/scripts/extract-corrections.sh
  .claude/skills/workspace-hub/claude-reflect/scripts/extract-patterns.sh
Due: baseline-validation, docs-validation

feat: Centralize state to workspace-hub for cross-repo RAGS analysis
  .claude/hooks/capture-corrections.sh
  .claude/skills/workspace-hub/claude-reflect/install-hooks.sh
  .gitignore
Due: none

docs: Add claude-reflect RAGS plan document
  specs/modules/claude-reflect/plan.md
Due: baseline-validation, docs-validation

chore: Update hooks configuration and test files
  .claude/hooks/capture-corrections.sh
  .claude/hooks/test-output.txt
  .claude/settings.json
Due: baseline-validation

feat: Add full session transcript logging for RAGS analysis
  .claude/hooks/capture-corrections.sh
  .claude/hooks/session-logger.sh
  .claude/settings.json
  .claude/skills/workspace-hub/claude-reflect/install-hooks.sh
  .claude/skills/workspace-hub/claude-reflect/scripts/analyze-sessions.sh
  .claude/skills/workspace-hub/claude-reflect/scripts/daily-reflect.sh
Due: baseline-validation

feat: Enhance RAGS loop to identify script ideas and auto-create skills
  .claude/skills/workspace-hub/claude-reflect/scripts/analyze-sessions.sh
  .claude/skills/workspace-hub/claude-reflect/scripts/create-skills.sh
  .claude/skills/workspace-hub/claude-reflect/scripts/daily-reflect.sh
  .claude/skills/workspace-hub/claude-reflect/scripts/extract-script-ideas.sh
Due: none

fix: Use external jq filter file to avoid shell escaping issues
  .claude/skills/workspace-hub/claude-reflect/scripts/extract-script-ideas.jq
  .claude/skills/workspace-hub/claude-reflect/scripts/extract-script-ideas.sh
Due: none

feat: Add session logging hooks for RAG analysis
  .claude/hooks/aggregate-learnings.sh
  .claude/hooks/claude-with-logging.sh
  .claude/hooks/extract-session-for-rag.sh
  .claude/hooks/session-logger.sh
Due: none
